<div class="container-fixed">
	<textarea id="codemirror" >
// Write your own code for the movie!
// We know that when we write:

	movie.play()

// it makes our movie begin playing.
// What are some other actions you think of that a movie does? What might the code look like for that action?
// No wrong answers -- just be creative!

	</textarea>
</div>

<script>
$(document).ready(function() {
    var myCodeMirror = CodeMirror.fromTextArea(document.getElementById('codemirror'),  {
          mode:  "javascript",
          theme: "solarized light",
          lineWrapping: true,
          lineNumbers: true
        });
});
</script>