<div class="container-fixed">
  <div class="popup is-hidden">
    <form class="uploadform" method="POST" action="/upload" enctype="multipart/form-data">
      10 mb max file size
      <input type="file" name="file" value="Select a File" />
      <button class="btn btn-primary uploadfile">Upload</button>
      <button class="btn js-hide-upload uploadfile">Cancel</button>
      <p></p>
    </form>
  </div>

  <div class="instagram-form is-hidden">
    <span>What's your instagram username? </span>
    <input class="js-username">
    <button class="btn btn-primary js-submit-username right">Upload</button>
  </div>

  <div class="row">
    <div class="heading_bg">

      <div class="col-md-5">
        <div class="heading margin-negs">video</div>
        <div class="overlay">

          <div class="buttons">
            <button type="button" class="btn btn-primary js-uploadOrig">Use Our Origami Video</button>
            <button type="button" class="btn btn-primary js-uploadFlwr">Use Our Flower Video</button>
<!--             <button type="button" class="btn btn-primary js-uploaddemo">Import a Sample Video</button>            
 -->            <button type="button" class="btn btn-primary js-upload-video">Upload Your Own Video</button>
            {{#if user}}
            <button type="button" class="btn btn-primary js-instagram-import">Upload from Instagram</button>
            {{/if}}
          </div>

          <div class="centerObject">

          </div>

           <!-- object that gets changes -->
         <video class="video1 is-hidden" id="myvideo" src="/img/demo.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"' autoplay loop></video>
         <!--  more the seriously object, gets the effects -->
          <canvas class="video2 is-hidden" id="canvas">
          </canvas>
          <button type="button" class="runbtn btn btn-danger pullRight is-hidden"></button>


          <div class="methodsBox js-appear is-hidden clearfix">
            <ul id="methodList">
            {{#filters}}
              <li name={{.}} class='btn btn-method draggable'>{{.}}</li><img name={{.}} class='x-drag xbtn' src='/img/xbtn_drag.png'/>
            {{/filters}}
            </ul>
          </div>
        </div>
      </div>

      <div class="col-md-5 pull_left">
        <div class="heading"><span class="js-code-stop">code</span></div>
        <div id="tabs">
          <div class="tabs-2">

<div>
  <div class="steps step0 ch1 is-hidden">
    <h2>Your movie is ready for coding!</h2>

    <p>That movie.play() line is what is making your video automatically play.</p>

    <p>Want to change the look of the video? <strong>Start by dragging one of the green filters into the code editor below.</strong>
    </p>
  </div>

  <div class="steps step1 ch1 is-hidden">
    <h2>You've pulled an effect onto the code editor and magic appeared, congrats!</h2>

    <p>You are now processing your video pixel by pixel to give it that effect.</p>

    <p>Now it's time for you to control that magic.</p>
<!-- 
    <p>You can change the intensity of your effect by replacing the number with a value between 0-20. <strong>Change the number to 20 and see what happens.</strong></p> -->
  </div>

  <div class="steps step2 ch1 is-hidden">
    <h2>Good job! Now we are going to <i>write</i> some code!</h2>

    <p>Javascript has many built in "methods" which, at times, make sense literally.</p>

    <p>Writing the method can be as easy as replacing one word with another.</p>

    <p><strong>So, knowing this is the case, what might you write to pause the video?</strong></p>
  </div>

  <div class="steps step3 ch1 is-hidden">
    <h2>Awesome!</h2>

    <p> Let's see what's possible in terms of writing code for the "effects" object. </p>

    <p><strong>What happens when you change the name of the effect object?</strong></p>
  </div>

  <div class="steps step4 ch1 is-hidden">
    <h2>You've learned to write code in all three sections of this code block!  Congrats!</h2>

    <p><strong>Write down a method you would invent to manipulate your video!</strong></p>

    <p>Now we're off to chapter 2 to discover what other video methods are available from the seriously.js library :)</p>
    <a href="/demo2"><button class="js-close-steps btn btn-danger btn-close-steps">Next Lesson</button></a>
  </div>

</div>

            <form method="post" action="/save">

              <textarea id="codemirror" name="codemirror">{{code}}</textarea>
              <button type="button" class="js-reset-code btn btn-primary">Reset Code</button>
              <!-- <input type="submit" value="Save code" class="btn btn-primary savebtn" /> -->
              <a href="/codeAlone"><button type="button" class="js-close-steps btn btn-primary btn-danger">Try Another Exercise</button></a>
              <button id="export" class="btn btn-warning js-appear is-hidden">Save video</button>
            </form>
          </div>
        </div>
      </div>

      <div class="col-md-2 switch switchdiv">
        <div class="heading">
          <span>learn more</span>
        </div>

        <h3 id="yourHeaderID"></h3>
        <p class="your-paragraph-class"></p>
        <a id="yourAnchorID" href="#url"></a>

        <div class="learnMore">
          <h4>What's in your VidCode?</h4>
          <ul>
            <li class="js-object">
              <button type="button" class="btn green-btn object bold" data-toggle="modal" data-target="#object222">What's an object?</button>
            </li>

            <li class="js-movie">
              <button type="button" id="movie" class="btn green-btn movie" data-toggle="modal" data-target="#movies222">movie</button>
            </li>

            <li class="js-effects">
              <button type="button" id="effects" class="btn green-btn effects" data-toggle="modal" data-target="#effects222">effects</button>
            </li>

            <li class="js-seriously">
              <button type="button" id="seriously" class="btn green-btn seriously" data-toggle="modal" data-target="#seriously222">seriously</button>
            </li>

            <li class="js-filmgrain">
              <button type="button" id="filmgrain" class="btn green-btn filmgrain" data-toggle="modal" data-target="#filmgrain222">filmgrain</button>
            </li>

            <li class="js-function">
              <button type="button" id="function" class="btn pink-btn function bold" data-toggle="modal" data-target="#function222">What's a function?</button>
            </li>

            <li class="js-showeffect">
              <button type="button" id="showeffect" class="btn pink-btn showeffect" data-toggle="modal" data-target="#showeffect222">showEffect</button>
            </li>

            <li class="js-methods">
              <button type="button" id="methods" class="btn blue-btn methods bold" data-toggle="modal" data-target="#methods222">What are methods?</button>
            </li>

            <li class="js-play">
              <button type="button" id="play" class="btn blue-btn play" data-toggle="modal" data-target="#play222">play</button>
            </li>
            <li class="js-interval">
              <button type="button" id="interval" class="btn blue-btn interval" data-toggle="modal" data-target="#interval222">interval</button>
            </li>

            <!--   <li class="parameters">
                <button type="button" id="parameters" class="btn purple-btn parameters bold" data-toggle="modal" data-target="#parameters222">What are parameters?</button>
              </li>

              <li class="values">
                <button type="button" id="values" class="btn cyan-btn values bold" data-toggle="modal" data-target="#values222">What are values?</button>
              </li> -->

          </ul>
          There is more than one right answer!

          <a href="https://docs.google.com/spreadsheet/ccc?key=0AvGwqFvIRpKudF94Mnl2dnJrWHJZaGp4NVhDVUs0aWc&usp=drive_web#gid=0">check explainations from others, and add your own</a>
        </div>
      </div>

          <div class="col-md-4 post-export">
            <button type="button" id="gallery-share" class="btn btn-primary btn-purple share-btn is-hidden">Share In Our Gallery!</button>
            <button id="dLbtn" class="btn btn-primary btn-purple share-btn is-hidden" disabled><a id="dLink" download="vidcode.webm" title="Download your .webm video" href="">Download Your Video</a></button>
            <button type="button" id="email-share" class="btn btn-primary btn-purple share-btn is-hidden">Email Your Video</button>
            <!-- <button id="youtube" class="btn btn-primary btn-purple share-btn is-hidden" disabled>Share on YouTube</button> -->
            <div class="progress progress-striped progressDiv is-hidden">
              <div class="progress-bar progress-bar-success dl-progress" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
              </div>
            </div>
              <video id="video-dl"></video>
          </div>

          <!-- YouTube Upload -->
          <div class="col-md-4 YouTube is-hidden">
          <button id="login-button" class="btn btn-primary is-hidden">Login to YouTube</button>
          <div class="post-sign-in">
      <div>
        <img id="channel-thumbnail">
        <span id="channel-name"></span>
      </div>

      <form id="upload-form">
        <div>
          <label for="title">Title:</label>
          <input id="vidTitle" type="text" value="Your Video's Title!">
        </div>
        <input id="submit" type="submit" value="Upload">
      </form>

      <div class="during-upload">
        <p><span id="percent-transferred"></span>% done</p>
        <progress id="upload-progress" max="1" value="0"></progress>
      </div>

      <div class="post-upload">
        <p>Uploaded video. Polling for status...</p>
        <ul id="post-upload-status"></ul>
      </div>
    </div>
          </div>


      <div class="modal fade" id="object222" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog2">
          <div class="modal-content">
            <div class="modal-header instruct-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><img class="xbtn" src="/img/xbtn.png"></button>
              <h4 class="modal-title">Objects...</h4>
            </div>
            <div class="modal-body instruct-body">
              <p>
                A object in javascript can be anything!
                <br>
                <br>
                In the case of our VidCode these words, such as “movie”, are containers to allow instructions to be applied to the “movie”.
                <br>
                <br>
                We will cover this again and again!  For now just get used to the word and where objects are placed within the code.  .
              </p>
              <button type="button" class="btn btn-method" data-dismiss="modal" aria-hidden="true">OK</button>
            </div>
          </div>
        </div>
      </div>

      <div class="modal fade" id="movies222" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog2">
          <div class="modal-content">
            <div class="modal-header instruct-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><img class="xbtn" src="/img/xbtn.png"></button>
              <h4 class="modal-title">Your movie!</h4>
            </div>
            <div class="modal-body instruct-body">
              <p>
                The word "movie" is an object that uses the canvas element in HTML5 to play your video.
                <br>
                <br>
                Remember, an object is just a word that contains data under the hood.
                <br>
                <br>
                With code, and computers, there are many things happening "behind the scenes" which we don't see.
              </p>
              <button type="button" class="btn btn-method" data-dismiss="modal" aria-hidden="true">OK</button>
            </div>
          </div>
          </div>
          </div>

      <div class="modal fade" id="effects222" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog2">
          <div class="modal-content">
            <div class="modal-header instruct-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><img class="xbtn" src="/img/xbtn.png"></button>
              <h4 class="modal-title">So many effects!</h4>
            </div>
            <div class="modal-body instruct-body">
              <p>
                The word "effects" is an object that contains ALL the effects.
                <br>
                <br>
                You have three effects in your demo.
                <br>
                <br>
                These live in a hidden "list" within the "effects" object.
              </p>
              <button type="button" class="btn btn-method" data-dismiss="modal" aria-hidden="true">OK</button>
            </div>
          </div>
        </div>
      </div>

      <div class="modal fade" id="effects222" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog2">
          <div class="modal-content">
            <div class="modal-header instruct-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><img class="xbtn" src="/img/xbtn.png"></button>
              <h4 class="modal-title">So many effects!</h4>
            </div>
            <div class="modal-body instruct-body">
              <p>
                The word "effects" is an object that contains ALL the effects.
                <br>
                <br>
                You have three effects in your demo.
                <br>
                <br>
                These live in a hidden "list" within the "effects" object.
              </p>
              <button type="button" class="btn btn-method" data-dismiss="modal" aria-hidden="true">OK</button>
            </div>
          </div>
        </div>
      </div>

      <div class="modal fade" id="seriously222" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog2">
          <div class="modal-content">
            <div class="modal-header instruct-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><img class="xbtn" src="/img/xbtn.png"></button>
              <h4 class="modal-title">It's gettin' serious!</h4>
            </div>
            <div class="modal-body instruct-body">
              <p>
                "seriously" is a library which is represented by this object, which is represented by this word, "seriously"!  ;)
                <br>
                <br>
                By typing seriously.effect('blur'), we are pulling the “blur” effect out of the library.
                <br>
                <br>
                There is a lot of code in that library!  You just cant see it....magic!
              </p>
              <button type="button" class="btn btn-method" data-dismiss="modal" aria-hidden="true">OK</button>
            </div>
          </div>
        </div>
      </div>

      <div class="modal fade" id="filmgrain222" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog2">
          <div class="modal-content">
            <div class="modal-header instruct-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><img class="xbtn" src="/img/xbtn.png"></button>
              <h4 class="modal-title">Effects within the "effects"!</h4>
            </div>
            <div class="modal-body instruct-body">
              <p>
                Sooo, "film grain" is an object <em>within</em> the "effects" object.  It’s accessed via a "." dot notation.
                <br>
                <br>
                Objects, within objects, within objects!  So crazy.
                <br>
                <br>
                The dot notation lets you pull a "child" object out of a "parent" object.
                <br>
                <br>
                Just think of it like a box within a box, but these boxes are lists of data you can't see.....
              </p>
              <button type="button" class="btn btn-method" data-dismiss="modal" aria-hidden="true">OK</button>
            </div>
          </div>
        </div>
      </div>

      <div class="modal fade" id="function222" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog2">
          <div class="modal-content">
            <div class="modal-header instruct-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><img class="xbtn" src="/img/xbtn.png"></button>
              <h4 class="modal-title">Functions are actions</h4>
            </div>
            <div class="modal-body instruct-body">
              <p>
                Functions are a HUGE piece of the computer programming pie.
                <br>
                <br>
                A function is a set of arguments or intructions to run on a block of code.
              </p>
              <button type="button" class="btn btn-method" data-dismiss="modal" aria-hidden="true">OK</button>
            </div>
          </div>
        </div>
      </div>

      <div class="modal fade" id="function222" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog2">
          <div class="modal-content">
            <div class="modal-header instruct-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><img class="xbtn" src="/img/xbtn.png"></button>
              <h4 class="modal-title">Functions are actions</h4>
            </div>
            <div class="modal-body instruct-body">
              <p>
                Functions are a HUGE piece of the computer programming pie.
                <br>
                <br>
                A function is a set of arguments or intructions to run on a block of code.
              </p>
              <button type="button" class="btn btn-method" data-dismiss="modal" aria-hidden="true">OK</button>
            </div>
          </div>
        </div>
      </div>

      <div class="modal fade" id="showeffect222" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog2">
          <div class="modal-content">
            <div class="modal-header instruct-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><img class="xbtn" src="/img/xbtn.png"></button>
              <h4 class="modal-title">"showEffect" is a function</h4>
            </div>
            <div class="modal-body instruct-body">
              <p>
                The "showEffect" is a function name representing the arguments listed within the function’s brackets {  }.
                <br>
                <br>
                In the same way as you are your body which consists of  many processes.
              </p>
              <button type="button" class="btn btn-method" data-dismiss="modal" aria-hidden="true">OK</button>
            </div>
          </div>
        </div>
      </div>

      <div class="modal fade" id="play222" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog2">
          <div class="modal-content">
            <div class="modal-header instruct-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><img class="xbtn" src="/img/xbtn.png"></button>
              <h4 class="modal-title">"play" is a function...</h4>
            </div>
            <div class="modal-body instruct-body">
              <p>
                ...but it's called a <em>method</em>.
                <br>
                <br>
                It tells the movie object to play.  It's called a method, not a function, because it is applied <em>directly</em> to a object via the dot "." thing.
              </p>
              <button type="button" class="btn btn-method" data-dismiss="modal" aria-hidden="true">OK</button>
            </div>
          </div>
        </div>
      </div>

      <div class="modal fade" id="interval222" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog2">
          <div class="modal-content">
            <div class="modal-header instruct-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><img class="xbtn" src="/img/xbtn.png"></button>
              <h4 class="modal-title">"interval" is also a method</h4>
            </div>
            <div class="modal-body instruct-body">
              <p>
                It tells the movie object how many times a second to be processed.
                <br>
                <br>
                The number "1000" is in milliseconds.  So it is processing your video 1,000 times a second!  That's a lot of work!
              </p>
              <button type="button" class="btn btn-method" data-dismiss="modal" aria-hidden="true">OK</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="/js/main.js"></script>
<script src="/js/youtube.js"></script>
<script src="https://apis.google.com/js/client.js?onload=googleApiClientReady"></script>
