
  <div class="steps step0 ch2 is-hidden">
    <h2>Speed it up and slow it down!</h2>

    <p>Now you can control the speed of your video :)</p>

    <p>Do you want to make your video go in <i>slow</i> motion? Orrrr would you rather have it speed up like an insane hypnotic mess?!</p>
    <p><strong>Go ahead and try adjusting the values to make your masterpiece!</strong></p>
  </div>

  <div class="steps step1 ch2 is-hidden">
    <h2>Effects with more customization!</h2>

    <p>Check out the "fader" method.</p>
    <p>This guy has two properties giving YOU more control for your creative output.</p>
    <p>From looking at the code, what do you think you can adjust here?</p>
    <p><strong>Jump in and make this fader your own! Give it a new color and intensity.</strong></p>
  </div>

  <div class="steps step2 ch2 is-hidden">
    <h2>Effects just the way they are!</h2>
    <p>"Sepia" is a <i>binary</i> effect, meaning it only has two options: on or off.</p>
    <p><strong>To remove sepia, simply delete the line of code from the code editor.</strong>
  </div>

  <div class="steps step3 ch2 is-hidden">
    <h2>Congrats!</h2>

    <button class="js-close-steps btn btn-danger btn-close-steps">Close</button>
    <button class="btn btn-primary">Next Lesson</button>
  </div>