<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>VidCode Demo</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" href="css/bootstrap.css">
        <link rel="stylesheet" href="css/custom-theme/jquery-ui-1.9.2.custom.css">
                 <!--     /* Attach the Joyride CSS file */ -->
        <link rel="stylesheet" type="text/css" href="css/jquery.joyride-2.1.css"> 
        <link rel="stylesheet" href="js/vendor/codemirror-3.22/lib/codemirror.css">
        <link rel="stylesheet" href="js/vendor/codemirror-3.22/theme/solarized.css">
        <link rel="stylesheet" href="css/codemirror-vidcode.css">
        <link rel="stylesheet" href="css/contentflow.css">

        <script src="js/vendor/modernizr-2.6.2.min.js"></script>
        <script src="js/jquery.js"></script>
        <script src="js/jquery-ui-1.9.2.custom.min.js"></script>
        <script src="js/bootstrap.js"></script>
         
      
      
        <script src="js/vendor/codemirror-3.22/lib/codemirror.js"></script>
        <script src="js/vendor/codemirror-3.22/mode/javascript/javascript.js"></script>
        <script src="js/vendor/Scrubbing.js/dist/Scrubbing.js"></script>
        <script src="Seriously/seriously.js"></script>
        <script src="Seriously/effects/seriously.vignette.js"></script>
        <script src="Seriously/effects/seriously.blur.js"></script>
        <script src="Seriously/effects/seriously.filmgrain.js"></script>

        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>

    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->



        <!-- Add your site or application content here -->
        <ul class="nav nav-tabs">
            <li><a href="#"><img src="img/logo.png" id="image"></a></li>
            <li class="pull-right">
              <a class="small" href="http://vidcode.io/" target="_blank">
              <span class="glyphicon glyphicon-star"></span>About & Updates
            </a>
            </li>

        </ul>


          <div class="ContentFlow hidden">
            <div class="loadIndicator">
              <div class="indicator">
              </div>
            </div>
            <div class="flow">
                <img class="film" src="img/filmstrip.png" title="filmstrip"/>
                <!-- Add as many items as you like. -->
            </div>
            <div class="globalCaption"></div>
            <div class="scrollbar">
              <div class="slider">
                <div class="position">
                </div>
              </div>
            </div>
          </div>

        <div class="container-fluid">

            <div class="popup hidden">
                Video URL: <input class="pops" placeholder="www.vidcode.io/demo.mp4" type="text" />
                <button class="btn btn-primary uploadbtn" data-toggle="modal" data-target="#play">Upload</button>

            </div>
            <div class="row hidden">
                <div clsas="col-md-4">
                    <h3>Get Started</h3>
                    <button class="large-button layer1"><img class="checkbtn"  src="img/checked.png">Hello World</button>
                    <button class="large-button layer1"><img class="checkbtn" src="img/unchecked.png">Filters</button>
                    <button class="large-button layer1"><img class="checkbtn" src="img/unchecked.png">Motion</button>
                    <button class="large-button layer1"><img class="checkbtn" src="img/unchecked.png">Editing</button>
                    <button class="large-button layer1"><img class="checkbtn" src="img/unchecked.png">Advanced Graphics</button>
                </div>
            </div>

            <div class="row">
              <div class="heading_bg">

              <div class="col-md-5">
                <div class="heading">video</div>
                <div class="overlay">

                  <video class="video1 hidden" id="myvideo" loop>
                      <source src="vid/vine.mp4" id="vidSource" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
                  </video>

                  <canvas class="video2 hidden" id="canvas"></canvas>

                  <div class="buttons">
                        <!-- <button type="button" class="btn btn-primary uploadfirst">Take a Video</button> -->
                    <button type="button" class="btn btn-primary uploadfirst">Import a Video</button>
                 <!--    <form class="uploadform" method="POST" action="/upload" enctype="multipart/form-data">
                      <input type="file" name="file" value="Choose a file" />
                      <input type="submit" value="Upload" />

                    </form> -->
                  </div>
                  <button type="button" class="runbtn btn btn-danger pullRight hidden" >Play</button>
                </div>
              </div>

              <div class="col-md-2 switch switchdiv">
                <div class="heading">
                  <span class="switch switcheffect">add effects</span> / <span class="switch active switchlearn">learn more</span>
                </div>

                <div class="methods">

                  <ul><li id="filmgraindrag" class="btn btn-method draggable">Film Grain</li><img class="x-drag xbtn" id="filmgrainx" src="img/xbtn_drag.png">
                  <li id="blurdrag" class="btn btn-method draggable">Blur</li><img class="xbtn x-drag" id="blurx" src="img/xbtn_drag.png">
                  <li id="vignettedrag" class="btn btn-method draggable">Vignette</li><img class="xbtn x-drag" id="vignettex" src="img/xbtn_drag.png"></ul>

                </div>


              <!--   /* Joyride can be attached to any element with a unique ID or class, in any order */ -->
                <h3 id="yourHeaderID"></h3>
                <p class="your-paragraph-class"></p>
                <a id="yourAnchorID" href="#url"></a>

                <div class="learnMore">
                  <h4>What's in your VidCode?</h4>
                  <ul>
                    <li class="firstly arrowli green object">
                      <img class="btnright" src="img/btnright.png">Objects
                    </li>

                      <li class="explanation object">

                      <button type="button" id="object" class=" btn btn-success btn-sm object">What's a object?</button>
                      </li>

                    <li class="secondary arrowli green movie"><img src="img/btnright.png">movie</li>
                      <li class="explanation movie">
                        movie is an object that uses the canvas element in HTML5 to play your video.
                      </li>

                    <li class="secondary arrowli green effects"><img src="img/btnright.png">effects</li>
                      <li class="explanation effects">
                        effects is an object within the seriously library.  It contains all the effects.

                        By typing seriously.effect('blur'), we are pulling the “blur” effect out of the library.
                      </li>

                    <li class="secondary arrowli green"><img src="img/btnright.png">seriously</li>
                      <li class="explanation">
                        seriously is a library which is represented by this object.

                        By typing seriously.effect('blur'), we are pulling the “blur” effect out of the library.

                        There is a lot of code in that library!  You just cant see it ;)
                      </li>

                    <li class="secondary arrowli green filmgrain"><img src="img/btnright.png">filmgrain</li>
                      <li class="explanation filmgrain">
                        film grain is an object within the effects object.  It’s accessed via a "." dot notation.
                      </li>

                    <li class="firstly arrowli pink functions">
                      <img src="img/btnright.png">Functions
                    </li>
                      <li class="explanation Functions">
                        A function is a set of
                        arguments or intructions
                        to run on a block of code.
                      </li>

                    <li class="secondary arrowli pink showeffect"><img src="img/btnright.png">showEffect</li>
                      <li class="explanation showeffect">
                        The "showeffect" function consists of  the arguments listed within the function’s brackets {  }.
                        In the same way as you are your body which consists of  many processes.
                      </li>

                    <li class="firstly arrowli blue">
                      <img src="img/btnright.png">Methods
                    </li>
                      <li class="explanation">
                        A method is an argument (similar to a function) which is applied to a object using a "."
                      </li>
                    <li class="secondary arrowli blue play"><img src="img/btnright.png">play</li>
                      <li class="explanation play">
                        is method which effects the "movie" object
                      </li>
                    <li class="secondary arrowli blue interval"><img src="img/btnright.png">interval</li>
                      <li class="explanation interval">
                        is a method which effects the "movie" object and it has two "parameters"
                      </li>

                    <li class="firstly arrowli purple">
                      <img src="img/btnright.png">Parameters
                    </li>
                      <li class="explanation">
                        A parameter is "value" which is passed from one function to another.
                      </li>

                    <li class="firstly arrowli lightblue">
                      <img src="img/btnright.png">Values
                    </li>
                      <li class="explanation">
                        A "value" in javascript can be any of the following:
                          -number
                          -true or false
                          -"string"(i.e. a word in quotes)
                      </li>

                  </ul>
                  There is more than one right answer!

                  <a href="bit.ly/1oRCFfu">check explainations from others, and add your own</a>
                </div>

              </div>





              <div class="col-md-5 pull_left">
                <div class="heading">code</div>
                  <div id="tabs">

                    <div class="tabs-2">
                      <textarea id="codemirror">
                      No Code To Show Yet!</textarea>
                    </div>
                  </div>
                </div>


                <div class="modal fade" id="greeting" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                   <div class="modal-dialog">
                    <div class="modal-content">
                   <div class="modal-header instruct-header">
                   <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><img class="xbtn" src="img/xbtn.png"></button>
                   <h4 class="modal-title">Welcome!</h4>
                  </div>
                    <div class="modal-body instruct-body">
                   <p>Welcome to VidCode! We'll step you through this process. Let's start by importing a video.</p>
                   <button type="button" class="btn btn-method" data-dismiss="modal" aria-hidden="true">OK</button>
                   </div>
                    </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                    </div><!-- /.modal -->


              <div class="modal fade" id="play" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
               <div class="modal-content">
               <div class="modal-header instruct-header">
               <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><img class="xbtn" src="img/xbtn.png"></button>
               <h4 class="modal-title">Great!</h4>
               </div>
               <div class="modal-body instruct-body">
               <p>Now let's get coding! Select an effect from the tool bar to the right and drag it into the code editor.</p>
               <button type="button" class="btn btn-method" data-dismiss="modal" aria-hidden="true">OK</button>
                     </div>
                   </div><!-- /.modal-content -->
                 </div><!-- /.modal-dialog -->
               </div><!-- /.modal -->


             <!--    joyride begin -->

           <!--  /* Each tip is set within this <ol>. */ -->
        <!--   /* This creates the order the tips are displayed */ -->
          <ol id="chooseID">
          <!--   /* data-id needs to be the same as the parent it will attach to */ -->
            <li data-id="object">Tip content...</li>
<!-- 
            /* This tip will be display as a modal */ -->
            <li>Tip content...</li>

            <!-- /* using 'data-button' lets you have custom button text */ -->
            <li data-class="parent-element-class" data-options="tipLocation:top;tipAnimation:fade" data-button="Second Button">Content...</li>

            <!-- /* you can put a class for custom styling */ -->
            <li data-id="parentElementID" class="custom-class">Content...</li>
          </ol>


            </div>

        <script src="js/plugins.js"></script>
        <script src="js/main.js"></script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X');ga('send','pageview');
        </script>




      <!-- /* Then attach the Joyride plugin */ -->
      <script src="js/vendor/jquery.joyride-2.1.js"></script>



       <!--  /* Launching joyride when to page is loaded */ -->
        <script>
          $(window).load(function() {
            $("#chooseID").joyride({
              /* Options will go here */
                /* Setting your options to override the defaults */
              $('#contentID').joyride({
                'tipLocation': 'bottom',         // 'top' or 'bottom' in relation to parent
                'nubPosition': 'auto',           // override on a per tooltip bases
                'scrollSpeed': 300,              // Page scrolling speed in ms
                'timer': 2000,                   // 0 = off, all other numbers = time(ms) 
                'startTimerOnClick': true,       // true/false to start timer on first click
                'nextButton': true,              // true/false for next button visibility
                'tipAnimation': 'pop',           // 'pop' or 'fade' in each tip
                'pauseAfter': [],                // array of indexes where to pause the tour after
                'tipAnimationFadeSpeed': 300,    // if 'fade'- speed in ms of transition
                'cookieMonster': true,           // true/false for whether cookies are used
                'cookieName': 'JoyRide',         // choose your own cookie name
                'cookieDomain': false,           // set to false or yoursite.com
                'tipContainer': body,            // Where the tip be attached if not inline
                'postRideCallback': $noop,       // a method to call once the tour closes
                'postStepCallback': $noop        // A method to call after each step
              });

            });
          });
        </script>


    


    </body>
</html>