
<h2 class="galleryheader">Gallery</h2>

<div class="row gallery">

	<div class="col-md-4">
		{{#if userVidURL}}
		<a><video class="video js-user-share" controls src={{userVidURL}}></a>
		{{else}}
		<a href='galleryshow'><video class="video js-user-share" controls src="img/gallery-samples/org_blur.webm"></a>
		{{/if}}
		<div class="vid-row">
			<img class="js-heart-click hover-change likes" src="img/heart.png">
			<img class="js-heart-clicked likes is-hidden" src="img/heart-selected.png">
			<a href='galleryshow'>
				<span class="info">
					<p class="title">Your First Video!</p>
					<p class="username">vidcoder</p>
				</span>
			</a>
		</div>
	</div>

	<div class="col-md-4">
		<a><video class="video" controls src="img/gallery-samples/Memories_Isabella.webm"></a>
		<div class="vid-row">
			<img class="js-heart-click hover-change likes" src="img/heart.png">
			<img class="js-heart-clicked likes is-hidden" src="img/heart-selected.png">
			<a href='galleryshow'>
				<span class="info">
					<p class="title">Memories</p>
					<p class="username">Isabella</p>
				</span>
			</a>
		</div>
	</div>

	<div class="col-md-4">
		<a><video class="video" controls src="img/gallery-samples/freestyle_Rachelle.webm"></a>
		<div class="vid-row">
			<img class="js-heart-click hover-change likes" src="img/heart.png">
			<img class="js-heart-clicked likes is-hidden" src="img/heart-selected.png">
			<a href='galleryshow'>
				<span class="info">
					<p class="title">Freestyle</p>
					<p class="username">Rachelle</p>
				</span>
			</a>
		</div>
	</div>

	<div class="col-md-4">
		<a><video class="video" controls src="https://s3-us-west-2.amazonaws.com/vidcode/Sugar+Factory.webm"></a>
		<div class="vid-row">
			<img class="js-heart-click hover-change likes" src="img/heart.png">
			<img class="js-heart-clicked likes is-hidden" src="img/heart-selected.png">
			<a href='galleryshow'>
				<span class="info">
					<p class="title">Sugar Factory</p>
					<p class="username">serinaspence</p>
				</span>
			</a>
		</div>
	</div>

	<div class="col-md-4">
		<a><video class="video" controls src="img/gallery-samples/dobleCorazon.webm"></a>
		<div class="vid-row">
			<img class="js-heart-click hover-change likes" src="img/heart.png">
			<img class="js-heart-clicked likes is-hidden" src="img/heart-selected.png">
			<a href='galleryshow'>
				<span class="info">
					<p class="title">Doble Corazon</p>
					<p class="username">MaribelGarc</p>
				</span>
			</a>
		</div>
	</div>

	<div class="col-md-4">
		<a><video class="video" controls src="img/gallery-samples/streetSkirt.webm"></a>
		<div class="vid-row">
			<img class="js-heart-click hover-change likes" src="img/heart.png">
			<img class="js-heart-clicked likes is-hidden" src="img/heart-selected.png">
			<a href='galleryshow'>
				<span class="info">
					<p class="title">Street Skirt</p>
					<p class="username">msmahliss</p>
				</span>
			</a>
		</div>
	</div>

</div>


<script src="/js/gallery.js"></script>