
<h2 class="galleryheader">Gallery</h2>

<div class="row gallery">

	<div class="col-md-4">
		<a href='galleryshow'><img class="video" src="img/effect-options/blur.gif"></a>
		<div class="vid-row">
			<img class="js-heart-click hover-change likes" src="img/heart.png">
			<img class="js-heart-clicked likes is-hidden" src="img/heart-selected.png">
			<a href='galleryshow'>
				<span class="info">
					<p class="title">Video Name</p>
					<p class="username">username</p>
				</span>
			</a>
		</div>
	</div>

	<div class="col-md-4">
		<a href='galleryshow'><img class="video" src="img/effect-options/blur.gif"></a>
		<div class="vid-row">
			<img class="js-heart-click hover-change likes" src="img/heart.png">
			<img class="js-heart-clicked likes is-hidden" src="img/heart-selected.png">
			<a href='galleryshow'>
				<span class="info">
					<p class="title">Video Name</p>
					<p class="username">username</p>
				</span>
			</a>
		</div>
	</div>

	<div class="col-md-4">
		<a href='galleryshow'><img class="video" src="img/effect-options/blur.gif"></a>
		<div class="vid-row">
			<img class="js-heart-click hover-change likes" src="img/heart.png">
			<img class="js-heart-clicked likes is-hidden" src="img/heart-selected.png">
			<a href='galleryshow'>
				<span class="info">
					<p class="title">Video Name</p>
					<p class="username">username</p>
				</span>
			</a>
		</div>
	</div>

	<div class="col-md-4">
		<a href='galleryshow'><img class="video" src="img/effect-options/blur.gif"></a>
		<div class="vid-row">
			<img class="js-heart-click hover-change likes" src="img/heart.png">
			<img class="js-heart-clicked likes is-hidden" src="img/heart-selected.png">
			<a href='galleryshow'>
				<span class="info">
					<p class="title">Video Name</p>
					<p class="username">username</p>
				</span>
			</a>
		</div>
	</div>

	<div class="col-md-4">
		<a href='galleryshow'><img class="video" src="img/effect-options/blur.gif"></a>
		<div class="vid-row">
			<img class="js-heart-click hover-change likes" src="img/heart.png">
			<img class="js-heart-clicked likes is-hidden" src="img/heart-selected.png">
			<a href='galleryshow'>
				<span class="info">
					<p class="title">Video Name</p>
					<p class="username">username</p>
				</span>
			</a>
		</div>
	</div>

	<div class="col-md-4">
		<a href='galleryshow'><img class="video" src="img/effect-options/blur.gif"></a>
		<div class="vid-row">
			<img class="js-heart-click hover-change likes" src="img/heart.png">
			<img class="js-heart-clicked likes is-hidden" src="img/heart-selected.png">
			<a href='galleryshow'>
				<span class="info">
					<p class="title">Video Name</p>
					<p class="username">username</p>
				</span>
			</a>
		</div>
	</div>

</div>


<script src="/js/gallery.js"></script>