
<h2 class="galleryheader">Gallery</h2>

<div class="row gallery">

	<div class="col-md-4">
		<a href='galleryshow'><video class="video" controls src="img/gallery-samples/org_blur.webm"></a>
		<div class="vid-row">
			<img class="js-heart-click hover-change likes" src="img/heart.png">
			<img class="js-heart-clicked likes is-hidden" src="img/heart-selected.png">
			<a href='galleryshow'>
				<span class="info">
					<p class="title">Origami Fuzz</p>
					<p class="username">vidcoder</p>
				</span>
			</a>
		</div>
	</div>

	<div class="col-md-4">
		<a href='galleryshow'><video class="video" controls src="img/gallery-samples/galleryVid.webm"></a>
		<div class="vid-row">
			<img class="js-heart-click hover-change likes" src="img/heart.png">
			<img class="js-heart-clicked likes is-hidden" src="img/heart-selected.png">
			<a href='galleryshow'>
				<span class="info">
					<p class="title">ShortnSweet</p>
					<p class="username">christineine</p>
				</span>
			</a>
		</div>
	</div>

	<div class="col-md-4">
		<a href='galleryshow'><video class="video" controls src="img/gallery-samples/galleryVid2.webm"></a>
		<div class="vid-row">
			<img class="js-heart-click hover-change likes" src="img/heart.png">
			<img class="js-heart-clicked likes is-hidden" src="img/heart-selected.png">
			<a href='galleryshow'>
				<span class="info">
					<p class="title">Hidden Camera</p>
					<p class="username">theRightStuff</p>
				</span>
			</a>
		</div>
	</div>

	<div class="col-md-4">
		<a href='galleryshow'><video class="video" controls src="img/gallery-samples/galleryVid4.webm"></a>
		<div class="vid-row">
			<img class="js-heart-click hover-change likes" src="img/heart.png">
			<img class="js-heart-clicked likes is-hidden" src="img/heart-selected.png">
			<a href='galleryshow'>
				<span class="info">
					<p class="title">Doble Corazon</p>
					<p class="username">MaribelGarc</p>
				</span>
			</a>
		</div>
	</div>

	<div class="col-md-4">
		<a href='galleryshow'><video class="video" controls src="img/gallery-samples/galleryVid5.webm"></a>
		<div class="vid-row">
			<img class="js-heart-click hover-change likes" src="img/heart.png">
			<img class="js-heart-clicked likes is-hidden" src="img/heart-selected.png">
			<a href='galleryshow'>
				<span class="info">
					<p class="title">Team Us</p>
					<p class="username">JennYZ</p>
				</span>
			</a>
		</div>
	</div>

	<div class="col-md-4">
		<video class="video" controls src="img/gallery-samples/streetSkirt.webm"></video>
		<div class="vid-row">
			<img class="js-heart-click hover-change likes" src="img/heart.png">
			<img class="js-heart-clicked likes is-hidden" src="img/heart-selected.png">
			<a href='galleryshow'>
				<span class="info">
					<p class="title">Street Skirt</p>
					<p class="username">msmahliss</p>
				</span>
			</a>
		</div>
	</div>

</div>


<script src="/js/gallery.js"></script>