<div class="container-fluid">


  <div class="col-md-12 vidcodeIntro">
    <div class="js-slide1">
      <h1>Welcome to VidCode!</h1>
      <p>Get ready to create your own awesome video filters to share with your friends!</p>
      <div class="images-drop">
        <div class="circle bg1 js-fade hidden"></div>
        <div class="circle bg2 js-fade hidden"></div>
        <div class="circle bg3 js-fade hidden"></div>
      </div>

      <div class="js-slide2-right btn btn-primary right">Next</div>
    </div>

    <div class="js-slide2 hidden">
      <h1>First, pull functions into the code editor</h1>
      <p>This will populate your text editor with text, getting you started!</p>
      <div class="img_crop cropZero">

        <img src="img/drag.gif">
      </div>

      <button class="btn btn-primary left js-slide1-left">Prev</button>
      <button class="btn btn-primary right js-slide3-right">Next</button>
    </div>


    <div class="js-slide3 hidden">
      <h1>Next, head over to the learn more section</h1>
      <p>There, you can learn more about the JavaScript that you're using to make your awesome video art.</p>
      <div class="img_crop cropOne">

        <img src="img/learnmore.gif">
      </div>

      <button class="btn btn-primary left js-slide2-left">Prev</button>
      <button class="btn btn-primary right js-slide4-right">Next</button>
    </div>

    <div class="js-slide4 hidden">
      <h1>When you're done, export your video art</h1>
      <p>and download your video or put it back on social media to share your customized video filter and the code that's behind it with all of your friends online.</p>
      <div class="img_crop cropTwo">

        <img src="img/export.gif">
      </div>

      <button class="btn btn-primary left js-slide3-left">Prev</button>
      <a class="right" href="demo"><button class="btn btn-primary">Let's Get Started!</button></a>
    </div>


  </div>
</div>

<script>
    //Homepage where you pick your selection of filters
    $('.filterSelect').click(function(){
      var id = $(this).attr('id');
      if (id!='sepia'){
      if ($(this).hasClass('active')){
        $(this).removeClass('active');
        $('.formNext input[value='+id+']').remove();
      }
      else{
        $(this).addClass('active');
        $('.formNext').append("<input type='hidden' name='filter' value='"+id+"' />");
      }
    }
      }) ;
</script>

<script src="/js/indexpage.js"></script>