<div class="container-fluid stepone">


<div class="col-md-12">


  <div class="allietext">
    <h4>Let's customize our own filters for video and learn about code!</h4>

    <p>Pick the filters you'd like to play with, then click "next":</p>
  </div>

<!-- 
<div class="alliebutton"> -->

    <form class="formNext" method="GET" action="/demo">
      <input type="submit" value="Next" id="allie2" class="btn btn-primary btn-purple" />
     </form>
     </div>
      <div>


    <div class="col-lg-4 col-md-6 col-sm-12">
      <img src="/img/effect-options/blur.gif" class="filterSelect" id="blur">
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
      <img src="/img/effect-options/filmgrain.gif" class="filterSelect" id="filmgrain">
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
      <img src="/img/effect-options/vignette.gif" class="filterSelect" id="vignette">
    </div>





    <div class="col-lg-4 col-md-6 col-sm-12">
      <img src="/img/effect-options/exposure.gif" class="filterSelect" id="exposure">
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
      <img src="/img/effect-options/noise.gif" class="filterSelect" id="noise">
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
      <img src="/img/effect-options/sepia.gif" class="filterSelect" id="sepia">
    </div>
  </div>


</div>