    // <script>
    //   window.fbAsyncInit = function() {
    //     FB.init({
    //       appId      : '316757878488178',
    //       xfbml      : true,
    //       version    : 'v2.0'
    //     });

    //     FB.getLoginStatus(function(response) {
    //       if (response.status === 'connected') {
    //         console.log('Logged in.');
    //       }
    //       else {
    //         FB.login();
    //       }
    //     });

    //   };

    //   (function(d, s, id){
    //      var js, fjs = d.getElementsByTagName(s)[0];
    //      if (d.getElementById(id)) {return;}
    //      js = d.createElement(s); js.id = id;
    //      js.src = "//connect.facebook.net/en_US/sdk/debug.js";
    //      // js.src = "//connect.facebook.net/en_US/sdk.js";
    //      fjs.parentNode.insertBefore(js, fjs);
    //    }(document, 'script', 'facebook-jssdk'));

    // </script>

<div class="container-fluid">
<!-- Google Chrome DL instruction -->
      <div class="modal fade" id="chromeWarn" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog2">
          <div class="modal-content">
            <div class="modal-header instruct-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><img class="xbtn" src="/img/xbtn.png"></button>
              <h4 class="modal-title">Hello! Before we get started...</h4>
            </div>
            <div class="modal-body instruct-body">
              You will need Google Chrome to fully enjoy Vidcode
              <p>
              <a href="https://www.google.com/intl/en/chrome/browser/#brand=CHMB&utm_campaign=en&utm_source=en-ha-na-us-sk&utm_medium=ha">You can download it here</a></p>
              <button type="button" class="btn btn-method" data-dismiss="modal" aria-hidden="true">OK</button>
            </div>
          </div>
        </div>
      </div>

  <div class="col-md-12 vidcodeIntro">
    <div class="js-slide1">
      <h1>Welcome to Vidcode!</h1>
      <p>Get ready to create your own awesome video filters to share with your friends!</p>
      <div class="images-drop">
        <div class="circle bg1 js-fade is-hidden"></div>
        <div class="circle bg2 js-fade is-hidden"></div>
        <div class="circle bg3 js-fade is-hidden"></div>
      </div>

      <div class="js-slide2-right btn btn-primary right">Take the tour</div>
      <a class="skipbtn" href="/lesson/1">Skip the tour</a>
    </div>

    <div class="js-slide2 is-hidden">
      <h1>Drag & drop filters into the code editor</h1>
      <div class="img_crop cropZero">

        <img src="img/drag.gif">
      </div>

      <button class="btn btn-primary left js-slide1-left">Prev</button>
      <button class="btn btn-primary right js-slide3-right">Next</button>
    </div>

    <div class="js-slide3 is-hidden">
      <h1>Check out the Learn More section</h1>
      <div class="img_crop cropOne">

        <img src="img/learnmore.gif">
      </div>

      <button class="btn btn-primary left js-slide2-left">Prev</button>
      <button class="btn btn-primary right js-slide4-right">Next</button>
    </div>

    <div class="js-slide4 is-hidden">
      <h1>Share your creation!</h1>
      <div class="img_crop cropTwo">
        <img src="img/export.gif">
      </div>

      <button class="btn btn-primary left js-slide3-left">Prev</button>
      <a class="right" href="/lesson/1"><button class="btn btn-primary">Let's Get Started!</button></a>
    </div>


  </div>
</div>

<script src="/js/indexpage.js"></script>