
<div class="container-fluid">

  <div class="col-md-12 vidcodeIntro">
    <div class="js-slide1">
      <h1>Welcome to Vidcode!</h1>
      <h3>Make your own awesome video effects with code</h3>
      <div class="images-drop">
        <div class="circle bg1 js-fade is-hidden"></div>
        <div class="circle bg2 js-fade is-hidden"></div>
        <div class="circle bg3 js-fade is-hidden"></div>
      </div>
      <div class="95width">
        <a class="right" href="/workstation"><button class="btn btn-primary" id="mix-finish-tour">Let's Get Started!</button></a>
      </div>
    </div>

    <div class="js-slide2 is-hidden">
      <h1>Drag & drop filters into the code editor</h1>
      <div class="img_crop cropZero">
        <img src="/img/drag.gif">
      </div>
      <div class="95width">
        <button class="btn btn-primary left js-slide1-left">Prev</button>
        <button class="btn btn-primary right js-slide3-right">Next</button>
      </div>
    </div>

    <div class="js-slide3 is-hidden">
      <h1>Check out the Learn More section</h1>
      <div class="img_crop cropOne">
        <img src="/img/learnmore.gif">
      </div>
      <div class="95width">
        <button class="btn btn-primary left js-slide2-left">Prev</button>
        <button class="btn btn-primary right js-slide4-right">Next</button>
      </div>
    </div>

    <div class="js-slide4 is-hidden">
      <h1>Share your creation!</h1>
      <div class="img_crop cropTwo">
        <img src="/img/export.gif">
      </div>
      <button class="btn btn-primary left js-slide3-left">Prev</button>
    </div>

  </div>

</div>

<script src="/js/indexpage.js"></script>
<script>

  mixpanel.track_links("#mix-skip-tour", "Tour Skipped" );
  mixpanel.track('Intro page viewed', {
    'page name' : document.title,
    'url' : window.location.pathname
});
</script>
