<div class="set-container lesson-page clearfix">

	<span class="previous-progress-btn">
		<a href="3"><span class="arrow-smaller">◄</span> Previous</a>
	</span>
	<div class="progress-set">
		<h2>Scrubbing Lesson Path</h2>
		<span class="progress-num">
			1
		</span>
		<span class="progress-num">
			2
		</span>
		<span class="progress-num">
			3
		</span>
		<span class="progress-num progress-active">
			4
		</span>
	</div>



	<div class="lesson-prompt">
		Looks Amazing!
	</div>

	<div class="lesson-container centered-lesson">

		<img src="../img/effect-options/blur.gif">
		<div class="links-holder">
			<a class="link-one" href="#">Continue to Edit Your Video</a>
			<a class="link-two" href="#">Share Your Video</a>
			<a class="link-three" href="#">Choose Another Lesson Path</a>

		</div>



	</div>

</div>


<script src="../js/lessons.js"></script>


<script src="../js/vendor/codemirror-3.22/lib/codemirror.js"></script>
<script src="../js/vendor/codemirror-3.22/mode/javascript/javascript.js"></script>


<script>
  var editor = CodeMirror.fromTextArea(document.getElementById("codemirror"), {
    lineNumbers: true,
    styleActiveLine: true,
    matchBrackets: true,

    theme : 'solarized light'
  });


</script>
