
  <link rel="stylesheet" href="/css/jquery.joyride-2.1.css">

<div class="container-fixed">
  <div class="popup is-hidden">
    <form class="uploadform" method="POST" action="/upload" enctype="multipart/form-data">
      10 mb max file size
      <input type="file" name="file" value="Select a File" />
      <button class="btn btn-primary uploadfile">Upload</button>
      <button class="btn js-hide-upload uploadfile">Cancel</button>
      <p></p>
    </form>
  </div>


<div class="set-container lesson-page clearfix js-slide-1">
	<div class="progress-set">

	</div>

	<span class="next-progress-btn">
		<a id="tooltip-stop-4" class="js-slide-right-final" href="#">I'm Done!▸</a>
	</span>

	<div class="lesson-container">
		<div class="col-md-4">
		  <div class="loader is-hidden"><img src="/img/loader.gif"></div>
			<span class="js-active-vid active-vid">
				<div class="vid-placeholder overlay">
					<h3>Select a video below</h3>
				</div>
        <video class="video1 is-hidden" id="myvideo" src="/img/wha_color.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"' autoplay loop></video>
        <canvas class="video2 is-hidden" id="canvas">
          </canvas>
        <button type="button" class="runbtn btn btn-danger pullRight is-hidden"></button>
			</span>



			<div class="js-switch-appear">

        <div class="video-container clearfix">
<!--           <button type="button" class="btn btn-primary js-upload-video left-btn">Upload Your Own Video</button>
 -->
          <p>Instagram Videos</p>
          <div class="insta-thumbnails is-hidden">
            <span class="i-error"></span>
            <div class="i-vid-container">
              <video class="js-vid-click js-fetch-vid" id="js-fetch-vid0" name="0" src=""></video>
            </div>
            <div class="i-vid-container">
              <video class="js-vid-click js-fetch-vid" id="js-fetch-vid1" name="1" src=""></video>
            </div>
            <div class="i-vid-container">
              <video class="js-vid-click js-fetch-vid" id="js-fetch-vid2" name="2" src=""></video>
            </div>
          </div>

          <div class="insta-import is-hidden">
            <a href="/auth/instagram" id="tooltip-stop-1">Import Videos from Instagram</a>
          </div>

        </div>

        <div class="video-container clearfix">
          <p>Sample Videos</p>
            <div class="i-vid-container">
              <video class="js-vid-click sample-vid" src="/img/ge.mp4"></video>
            </div>
            <div class="i-vid-container">
              <video class="js-vid-click sample-vid" src="/img/paper.mp4"></video>
            </div>
            <div class="i-vid-container">
              <video class="js-vid-click sample-vid" src="/img/wha_color.mp4"></video>
            </div>
          </div>

			</div>

	  	<div class="methodsBox js-appear is-hidden clearfix">
	  	  <p class="vidtip">Drag & drop the buttons into the code editor on the right. Change the numbers to customize the filters!</p>
  			<div class="clearfix">
	        <ul id="methodList">
	          {{#filters}}
	          <li name={{.}} class='btn btn-method draggable'>{{.}}</li><img name={{.}} class='x-drag xbtn' src='/img/xbtn_drag.png'/>
	          {{/filters}}
	        </ul>
	      </div>
	      <div class="clearfix">
	        <button type="button" class="sm-btn show-inline js-switch-videos btn purple-btn-main">Switch Video</button>
	        <button type="button" class="sm-btn show-inline js-reset-code btn btn-primary">Reset Code</button>
	      </div>
      </div>

		</div>


		<div class="col-md-5">
			<div class="tabs-2">
				<form>
					<textarea id="codemirror" name="codemirror">{{code}}</textarea>
		  	</form>
		  </div>
  	</div>

  	<div class="col-md-3">
				<div id="tooltip-stop-3" class="learnMore">

          <div class="learning-pop-container" data-toggle="modal" data-target="#lesson-1-222">
            <span class="progress-num cc-6">
              1
            </span>
            <span class="learning-pop-link cc-6">
              What are we writing?
            </span>
          </div>

          <div class="learning-pop-container" data-toggle="modal" data-target="#lesson-2-222">
            <span class="progress-num cc-6">
              2
            </span>
            <span class="learning-pop-link cc-6">
              How is it changing my video?
            </span>
          </div>

          <div class="learning-pop-container" data-toggle="modal" data-target="#lesson-3-222">
            <span class="progress-num cc-6">
              3
            </span>
            <span class="learning-pop-link cc-6">
              The pieces of our code
            </span>
          </div>

          <div class="learning-pop-container l-color-2 js-values" data-toggle="modal" data-target="#lesson-4-222">
            <span class="progress-num cc-6 l-color-2">
              4
            </span>
            <span class="learning-pop-link cc-6 l-color-2">
              Values: An Overview
            </span>
          </div>

          <div class="learning-pop-container l-color-2 js-values" data-toggle="modal" data-target="#lesson-4-2-222">
            <ul>
              <li>
                <span class="learning-pop-link cc-6 l-color-2">
                  Types of Values
                </span>
              </li>
            </ul>
          </div>
          <div class="learning-pop-container l-color-2 js-boolean" data-toggle="modal" data-target="#lesson-4-3-222">
            <ul>
              <li>
                <span class="learning-pop-link cc-6 l-color-2">
                  Booleans
                </span>
              </li>
            </ul>
          </div>

          <div class="learning-pop-container l-color-3 js-object" data-toggle="modal" data-target="#lesson-objects-222">
            <span class="progress-num cc-6 l-color-3">
              5
            </span>
            <span class="learning-pop-link cc-6 l-color-3">
              Objects!
            </span>
          </div>

          <div class="learning-pop-container l-color-3 js-movie">
            <ul>
              <li>
                <span class="learning-pop-link cc-6 l-color-3" data-toggle="modal" data-target="#movies222">
                  Movie
                </span>
              </li>
            </ul>
          </div>

          <div class="learning-pop-container l-color-3 js-effects" data-toggle="modal" data-target="#effects222">
            <ul>
              <li>
                <span class="learning-pop-link cc-6 l-color-3">
                  Effects
                </span>
              </li>
            </ul>
          </div>
          <div class="learning-pop-container l-color-4 js-play">
            <span class="progress-num cc-6 l-color-4">
              6
            </span>
            <span class="learning-pop-link cc-6 l-color-4" data-toggle="modal" data-target="#function222">
              Functions!
            </span>
          </div>

          <div class="learning-pop-container l-color-4 js-play">
            <ul>
              <li>
                <span class="learning-pop-link cc-6 l-color-4" data-toggle="modal" data-target="#play222">
                  Play
                </span>
              </li>
            </ul>
          </div>

          <a href="http://www.vidcode.io/contact">Feedback? Yes, Please!</a>
        </div>
      </div>
  	</div>


	</div>


</div>


<div class="set-container lesson-page clearfix is-hidden js-slide-final">

	<span class="previous-progress-btn">
		<a class="js-slide-left-first" href="#"><span class="arrow-smaller">◄</span> Previous</a>
	</span>
	<div class="progress-set">

	</div>


    <div class="lesson-prompt">
  </div>

	<!-- <div class="lesson-container centered-lesson"> -->
		<div class="links-holder">
      <form method="post" action="/save">
        <!-- <a class="link-one" id="mix-share" href="/share">Share Your Video</a> -->
        <input type="submit" value="Share Your Video" class="link-one"/>
      </form>
			<a class="link-two js-slide-left-first" id="mix-again" href="/lesson/1">Try It Again</a>


		</div>
		<video id="vid-display" src=""></video>
	</div>

</div>



      <div class="modal fade" id="lesson-1-222" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog2">
          <div class="modal-content">
            <div class="modal-header instruct-header">

              <h4 class="modal-title">1. What are we writing? JavaScript!</h4>
              <span type="button" class="right btn-close-modal" data-dismiss="modal" aria-hidden="true"><img src="/img/x-btn-modal.png"></span>
            </div>
            <div class="modal-body instruct-body">
              <p>
                JavaScript?
              </p>
              <p>
                <strong>Javascript</strong> is a <strong>programming language.</strong> Since computers don't speak human languages like English or Spanish, we use programming languages to talk to them.
              </p>
              <p>
                All your favorite apps are made by talking to computers with programming languages.
              </p>
              <img class="lessonimg lesson-img-1" src="/img/lessons/lesson-1-left.png"><img class="lessonimg lesson-img-2" src="/img/lessons/lesson-1-right.png">
              <button type="button" class="btn btn-method" data-dismiss="modal" data-toggle="modal" href="#lesson-2-222" aria-hidden="true">Next</button>
            </div>
          </div>
        </div>
      </div>


      <div class="modal fade" id="lesson-2-222" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog2">
          <div class="modal-content">
            <div class="modal-header instruct-header">
              <h4 class="modal-title">2. How is it changing my video?</h4>
              <span type="button" class="right btn-close-modal" data-dismiss="modal" aria-hidden="true"><img src="/img/x-btn-modal.png"></span>
            </div>
            <div class="modal-body instruct-body">
              <p>
                Your code is your input, and your video is the output created once the computer translates your code.
              </p>
              <p>
                When you change the words and numbers in your code (your input), you'll see your video (your output) change as well.
              </p>
              <p>
                Think about it like baking. Depending on what ingredients you put into your cake (your output) will be different.
              </p>
              <div class="l-game-input l-g-container">
                <p>input</p>
                <img class="l-g-i-1 tooltip-lesson" data-toggle="tooltip" data-placement="top" title="mix();" src="/img/lessons/c-v-game/bowl.png">
                <img class="l-g-i-2 tooltip-lesson" data-toggle="tooltip" data-placement="top" title="ingredients.butter;" src="/img/lessons/c-v-game/butter.png">
                <img class="l-g-i-3 tooltip-lesson" data-toggle="tooltip" data-placement="top" title="ingredients.cherries;" src="/img/lessons/c-v-game/cherries.png">
                <img class="l-g-i-4 tooltip-lesson" data-toggle="tooltip" data-placement="top" title="ingredients.eggs;" src="/img/lessons/c-v-game/eggs.png">
                <img class="l-g-i-5 tooltip-lesson" data-toggle="tooltip" data-placement="top" title="ingredients.flour;" src="/img/lessons/c-v-game/flour.png">
                <img class="l-g-i-6 tooltip-lesson" data-toggle="tooltip" data-placement="top" title="ingredients.sugar;" src="/img/lessons/c-v-game/sugar.png">
              </div>
              <div class="l-game-output l-g-container">
                <p>output</p>
                <img class="l-g-o-1 tooltip-lesson" data-toggle="tooltip" data-placement="top" title="A cake!" src="/img/lessons/c-v-game/cakeoutput.png">
              </div>

              <button type="button" class="btn btn-method prev-s-btn" data-dismiss="modal" data-toggle="modal" href="#lesson-1-222" aria-hidden="true">Prev</button>
              <button type="button" class="btn btn-method" data-dismiss="modal" data-toggle="modal" href="#lesson-3-222" aria-hidden="true">Next</button>
            </div>
          </div>
        </div>
      </div>

      <div class="modal fade" id="lesson-3-222" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog2">
          <div class="modal-content">
            <div class="modal-header instruct-header">

              <h4 class="modal-title">3. The pieces of our code</h4>
              <span type="button" class="right btn-close-modal" data-dismiss="modal" aria-hidden="true"><img src="/img/x-btn-modal.png"></span>
            </div>
            <div class="modal-body instruct-body">
              <p>
                Some of the pieces of JavaScript include values, variables, objects and functions.
              </p>
              <p>
                Have you changed the numbers and words around in your code? Then you've already worked with some of these pieces!
              </p>
              <p>
                First, let's talk about values.
              </p>
              <button type="button" class="btn btn-method prev-s-btn" data-dismiss="modal" data-toggle="modal" href="#lesson-2-222" aria-hidden="true">Prev</button>
              <button type="button" class="btn btn-method" data-dismiss="modal" data-toggle="modal" href="#lesson-4-222" aria-hidden="true">Next</button>
            </div>
          </div>
        </div>
      </div>


      <div class="modal fade" id="lesson-4-222" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog2">
          <div class="modal-content">
            <div class="modal-header instruct-header">

              <h4 class="modal-title">4. Let's talk about values</h4>
              <span type="button" class="right btn-close-modal" data-dismiss="modal" aria-hidden="true"><img src="/img/x-btn-modal.png"></span>
            </div>
            <div class="modal-body instruct-body">
              <p>
                The numbers in your code, such as
              </p>
              <p>
                effects.noise.amount = 7;
              </p>
              <p>
                are a type of value called a number (but you already knew that!)
              </p>
              <button type="button" class="btn btn-method prev-s-btn" data-dismiss="modal" data-toggle="modal" href="#lesson-3-222" aria-hidden="true">Prev</button>
              <button type="button" class="btn btn-method" data-dismiss="modal" data-toggle="modal" href="#lesson-4-2-222" aria-hidden="true">Next</button>
            </div>
          </div>
        </div>
      </div>

      <div class="modal fade" id="lesson-4-2-222" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog2">
          <div class="modal-content">
            <div class="modal-header instruct-header">

              <h4 class="modal-title">4a. Types of Values</h4>
              <span type="button" class="right btn-close-modal" data-dismiss="modal" aria-hidden="true"><img src="/img/x-btn-modal.png"></span>
            </div>
            <div class="modal-body instruct-body">
              <p>
                Some types of values are:
              </p>
              <p>
                Numbers: 1, 12, 178
              </p>
              <p>
                Strings (text in quotes): "hello", "12 is a cool number"
              </p>
              <p>
                booleans (whether something is true or false): videoPlaying = true;
              </p>
              <button type="button" class="btn btn-method prev-s-btn" data-dismiss="modal" data-toggle="modal" href="#lesson-4-222" aria-hidden="true">Prev</button>
              <button type="button" class="btn btn-method" data-dismiss="modal" data-toggle="modal" href="#lesson-4-3-222" aria-hidden="true">Next</button>
            </div>
          </div>
        </div>
      </div>

      <div class="modal fade" id="lesson-4-3-222" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog2">
          <div class="modal-content">
            <div class="modal-header instruct-header">

              <h4 class="modal-title">4b. Booleans</h4>
              <span type="button" class="right btn-close-modal" data-dismiss="modal" aria-hidden="true"><img src="/img/x-btn-modal.png"></span>
            </div>
            <div class="modal-body instruct-body">
              <div class="boolean-game">
                <img class="f-s-1" src="/img/lessons/f-game/flower-center.png">
                <img class="f-s-2 js-f-b-click" src="/img/lessons/f-game/flower-1.png">
                <img class="f-s-3 js-f-b-click" src="/img/lessons/f-game/flower-2.png">
                <img class="f-s-4 js-f-b-click" src="/img/lessons/f-game/flower-3.png">
                <img class="f-s-5 js-f-b-click" src="/img/lessons/f-game/flower-4.png">
                <img class="f-s-6 js-f-b-click" src="/img/lessons/f-game/flower-5.png">
                <img class="f-s-7 js-f-b-click" src="/img/lessons/f-game/flower-6.png">
                <img class="f-s-8 js-f-b-click" src="/img/lessons/f-game/flower-7.png">
                <img class="f-s-9 js-f-b-click" src="/img/lessons/f-game/flower-8.png">
              </div>
              <div class="g-text-container">
                <p>Booleans set variables to true or false.</p>
                <p>Pick petals off the flower to change this boolean value from true to false</p>

                <p class="line-1">My cat loves me <span class="l-text">=</span></p>
                <p class="js-bool-switch is-showing-true l-text line-2">
                  True
                </p>
              </div>
              <button type="button" class="btn btn-method prev-s-btn" data-dismiss="modal" data-toggle="modal" href="#lesson-4-2-222" aria-hidden="true">Prev</button>
              <button type="button" class="btn btn-method" data-dismiss="modal" data-toggle="modal" href="#lesson-objects-222" aria-hidden="true">Next</button>
            </div>
          </div>
        </div>
      </div>




      <div class="modal fade" id="lesson-objects-222" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog2">
          <div class="modal-content">
            <div class="modal-header instruct-header">

              <h4 class="modal-title">5. Another value: objects!</h4>
              <span type="button" class="right btn-close-modal" data-dismiss="modal" aria-hidden="true"><img src="/img/x-btn-modal.png"></span>
            </div>
            <div class="modal-body instruct-body">
              <p>
                Let's move on to a fourth type of value, objects!
              </p>
              <p>
                Objects in JavaScript hold your data.
              </p>
              <p>
                In your code, effects and movie are both objects.
              </p>
              <button type="button" class="btn btn-method prev-s-btn" data-dismiss="modal" data-toggle="modal" href="#lesson-4-3-222" aria-hidden="true">Prev</button>
              <button type="button" class="btn btn-method" data-dismiss="modal" data-toggle="modal" href="#movies222" aria-hidden="true">Next</button>
            </div>
          </div>
        </div>
      </div>

      <div class="modal fade" id="movies222" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog2">
          <div class="modal-content">
            <div class="modal-header instruct-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><img class="xbtn" src="/img/xbtn.png"></button>
              <h4 class="modal-title">5a. Your movie!</h4>
              <span type="button" class="right btn-close-modal" data-dismiss="modal" aria-hidden="true"><img src="/img/x-btn-modal.png"></span>
            </div>
            <div class="modal-body instruct-body">
              <p>
                The word "movie" is an object that uses the canvas element in HTML5 to play your video.
              </p>
              <p>
                Remember, an object is just a word that contains data under the hood.
              </p>
              <p>
                With code, and computers, there are many things happening "behind the scenes" which we don't see.
              </p>
              <button type="button" class="btn btn-method prev-s-btn" data-dismiss="modal" data-toggle="modal" href="#lesson-objects-222" aria-hidden="true">Prev</button>
              <button type="button" class="btn btn-method" data-dismiss="modal" data-toggle="modal" href="#effects222" aria-hidden="true">Next</button>
            </div>
          </div>
        </div>
    	</div>

      <div class="modal fade" id="effects222" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog2">
          <div class="modal-content">
            <div class="modal-header instruct-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><img class="xbtn" src="/img/xbtn.png"></button>
              <h4 class="modal-title">5b. So many effects!</h4>
              <span type="button" class="right btn-close-modal" data-dismiss="modal" aria-hidden="true"><img src="/img/x-btn-modal.png"></span>
            </div>
            <div class="modal-body instruct-body">
              <p>
                The word effects is an object that keeps track of all of the effects you can apply to your video, such as blur and vignette.
              </p>
              <button type="button" class="btn btn-method prev-s-btn" data-dismiss="modal" data-toggle="modal" href="#movies222" aria-hidden="true">Prev</button>
              <button type="button" class="btn btn-method" data-dismiss="modal" data-toggle="modal" href="#function222" aria-hidden="true">Next</button>
            </div>
          </div>
        </div>
      </div>


      <div class="modal fade" id="function222" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog2">
          <div class="modal-content">
            <div class="modal-header instruct-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><img class="xbtn" src="/img/xbtn.png"></button>
              <h4 class="modal-title">6. Functions</h4>
              <span type="button" class="right btn-close-modal" data-dismiss="modal" aria-hidden="true"><img src="/img/x-btn-modal.png"></span>
            </div>
            <div class="modal-body instruct-body">
              <p>
                A function is a an instruction. You can think of it like a verb.
              </p>
              <p>
                Imagine if you were training your cat. If you gave your cat an obstacle course, and told her to complete it, your cat would probably be pretty confused.
              </p>
              <p>
                But if instead, you broke it up into smaller instructions, and told her
              </p>
              <p>
                'go down this slide'
              </p>
              <p>
                it would be much less confusing.
              </p>
              <p>
                Functions are kind of like that! Lots of smaller instructions to make coding easier.
              </p>
              <p>
                play() is an example of a function.
              </p>
              <button type="button" class="btn btn-method prev-s-btn" data-dismiss="modal" data-toggle="modal" href="#effects222" aria-hidden="true">Prev</button>
              <button type="button" class="btn btn-method" data-dismiss="modal" data-toggle="modal" href="#play222" aria-hidden="true">Next</button>
            </div>
          </div>
        </div>
      </div>


      <div class="modal fade" id="play222" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog2">
          <div class="modal-content">
            <div class="modal-header instruct-header">
              <h4 class="modal-title">6a. play() is a function</h4>
              <span type="button" class="right btn-close-modal" data-dismiss="modal" aria-hidden="true"><img src="/img/x-btn-modal.png"></span>
            </div>
            <div class="modal-body instruct-body">
              <p>
                When you type 'play()' or 'pause()' after the word movie, you are sending a function (a verb!) directly to the movie object.
              </p>
              <button type="button" class="btn btn-method prev-final" data-dismiss="modal" data-toggle="modal" href="#function222" aria-hidden="true">Prev</button>
            </div>
          </div>
        </div>
      </div>

      <div class="modal fade" id="interval222" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog2">
          <div class="modal-content">
            <div class="modal-header instruct-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><img class="xbtn" src="/img/xbtn.png"></button>
              <h4 class="modal-title">"interval" is also a method</h4>
            </div>
            <div class="modal-body instruct-body">
              <p>
                It tells the movie object how many times a second to be processed.
                <br>
                <br>
                The number "1000" is in milliseconds.  So it is processing your video 1,000 times a second!  That's a lot of work!
              </p>
              <button type="button" class="btn btn-method" data-dismiss="modal" aria-hidden="true">OK</button>
            </div>
          </div>
        </div>
      </div>

<h4 id="username" class="is-hidden">{{user.username}}</h4>
<h4 id="social" class="is-hidden">{{user.social}}</h4>

<ol id="joyRideTipContent">
  <li data-id="tooltip-stop-1">Choose a sample video or use your own from Instagram</li>
  <li data-id="tooltip-stop-3" data-options="tip_location:left">Click on the buttons to the right to "Learn More" about the code you're writing!</li>

  <li data-id="tooltip-stop-4" data-options="tip_location:left">Once you're finished with your video creation, click "I'm Done!"</li>

  <li data-button="Done!">You can create as many vidcodes as you'd like, using all your own Instagram content.</li>

</ol>

<script src="/js/main.js"></script>
<script src="/js/filters.js"></script>
<script src="/js/lessons.js"></script>

<script>
	$(window).load(function() {
	  $("#joyRideTipContent").joyride({
	  	autoStart: true
	  });
	});

    mixpanel.track_links("#mix-share", "Share clicked" );
    mixpanel.track_links("#mix-again", "Try It Again clicked" );
    mixpanel.track_links("#tooltip-stop-1", "Imported from Instagram" );
    mixpanel.track_links("#tooltip-stop-4", "I'm Done clicked" );
      mixpanel.track('Main UI page viewed', {
    'page name' : document.title,
    'url' : window.location.pathname
});
    // mixpanel.track_links("#objectsLM", "Movie Learn More clicked" );
    // mixpanel.track_links("#movie", "Movie Learn More clicked" );
    // mixpanel.track_links("#effects", "Effects Learn More clicked" );
    // mixpanel.track_links("#function", "Function Learn More clicked" );
    // mixpanel.track_links("#play", "Play Learn More clicked" );

</script>

