
  <link rel="stylesheet" href="/css/jquery.joyride-2.1.css">

<div class="set-container lesson-page clearfix js-slide-1">
	<div class="progress-set">
		<h2>Awesome Code Editor!</h2>
<!-- 		<span class="progress-num progress-active">
			1
		</span>
		<span class="progress-num">
			2
		</span>
		<span class="progress-num">
			3
		</span>
		<span class="progress-num">
			4
		</span> -->
	</div>

	<span class="next-progress-btn">
		<a id="tooltip-stop-4" class="js-slide-right-final" href="#">I'm Done!▸</a>
	</span>

	<div class="lesson-container">
		<div class="col-md-4">
		  <div class="loader is-hidden"><img src="/img/loader.gif"></div>
			<span class="js-active-vid active-vid">
		        <video class="video1 is-hidden" id="myvideo" src="/img/demo.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"' autoplay loop></video>
		        <canvas class="video2 is-hidden" id="canvas">
		          </canvas>
		        <button type="button" class="runbtn btn btn-danger pullRight is-hidden"></button>
			</span>
			<div class="video-container">
				<p>Choose a Video</p>
				<video class="js-vid-click sample-vid" src="/img/wha_color.mp4"></video>
				<video class="js-vid-click sample-vid" src="/img/lego.mp4"></video>
				{{#if user}}
				<video class="js-vid-click js-fetch-vid" name="0" src=""></video>
				<video class="js-vid-click js-fetch-vid" name="1" src=""></video>
	            {{/if}}				
			</div>
		</div>


		<div class="col-md-6">
			<div class="tabs-2">
				<form id ="tooltip-stop-2">
					<textarea id="codemirror" name="codemirror">{{code}}</textarea>
		  	</form>
		  	</div>
	  	   <div class="methodsBox js-appear is-hidden clearfix">
	  	    <p>Drag & drop the green buttons into the code editor above</p>
            <ul id="methodList">
            {{#filters}}
              <li name={{.}} class='btn btn-method draggable'>{{.}}</li><img name={{.}} class='x-drag xbtn' src='/img/xbtn_drag.png'/>
            {{/filters}}
            </ul>
          </div>
  	</div>

  	<div class="col-md-2">
				<div id="tooltip-stop-3" class="learnMore">
          <h4>What's Going On?</h4>
          <ul>
            <li class="js-object">
              <button type="button" class="btn green-btn object bold" data-toggle="modal" data-target="#object222">What's an object?</button>
            </li>

            <li class="js-movie">
              <button type="button" id="movie" class="btn green-btn movie" data-toggle="modal" data-target="#movies222">movie</button>
            </li>

            <li class="js-effects">
              <button type="button" id="effects" class="btn green-btn effects" data-toggle="modal" data-target="#effects222">effects</button>
            </li>

            <li class="js-function">
              <button type="button" id="function" class="btn pink-btn function bold" data-toggle="modal" data-target="#function222">What's a function?</button>
            </li>

            <li class="js-play">
              <button type="button" id="play" class="btn blue-btn play" data-toggle="modal" data-target="#play222">play</button>
            </li>

            <!--   <li class="parameters">
                <button type="button" id="parameters" class="btn purple-btn parameters bold" data-toggle="modal" data-target="#parameters222">What are parameters?</button>
              </li>

              <li class="values">
                <button type="button" id="values" class="btn cyan-btn values bold" data-toggle="modal" data-target="#values222">What are values?</button>
              </li> -->

          </ul>
          There is more than one right answer!

          <a href="https://docs.google.com/spreadsheet/ccc?key=0AvGwqFvIRpKudF94Mnl2dnJrWHJZaGp4NVhDVUs0aWc&usp=drive_web#gid=0">check explainations from others, and add your own</a>
        </div>
      </div>
  	</div>


	</div>


</div>


<div class="set-container lesson-page clearfix is-hidden js-slide-final">

	<span class="previous-progress-btn">
		<a class="js-slide-left-first" href="#"><span class="arrow-smaller">◄</span> Previous</a>
	</span>
	<div class="progress-set">
		<h2>Scrubbing Lesson Path</h2>
		<span class="progress-num">
			1
		</span>
		<span class="progress-num">
			2
		</span>
		<span class="progress-num">
			3
		</span>
		<span class="progress-num progress-active">
			4
		</span>
	</div>



	<div class="lesson-prompt">
		Looks Amazing!
	</div>

	<div class="lesson-container centered-lesson">
		<div class="links-holder">
			<a class="link-two" href="/share">Share Your Video</a>
			<a class="link-two js-slide-left-first" href="/lesson/1">Try It Again</a>
<!-- 			<a class="link-three" href="#">Choose Another Lesson Path</a>
 -->
		</div>
		<!-- <img src="/img/effect-options/sepia.gif"></img> -->
		<video id="vid-display" src=""></video>
		<!-- <p class="displayWait">Wait just a moment as we save your video creation...</p> -->
	</div>

</div>



<ol id="joyRideTipContent">
  <!-- <li data-id="tooltip-stop-1">Choose a video or use your own from Instagram</li> -->
  <li data-id="tooltip-stop-2">Choose a video or use your own from Instagram</li>
  <li data-id="tooltip-stop-3" data-options="tip_location:left">Click on the buttons to the right to "Learn More" about the code you're writing!</li>

  <li data-id="tooltip-stop-4" data-options="tip_location:left">Once you are completely satisfied with your video creation, click "I'm Done!" and share your masterpiece!</li>

  <li data-button="Done!">You can create as many vidcodes as you'd like, using all your own instagram content</li>

</ol>

<script src="/js/main.js"></script>
<script src="/js/filters.js"></script>
<script src="/js/lessons.js"></script>

<script>
	$(window).load(function() {
	  $("#joyRideTipContent").joyride({
	  	autoStart: true
	  });
	});

</script>
