
  <link rel="stylesheet" href="/css/jquery.joyride-2.1.css">

<div class="set-container lesson-page clearfix js-slide-1">
	<div class="progress-set">

	</div>

	<span class="next-progress-btn">
		<a id="tooltip-stop-4" class="js-slide-right-final" href="#">I'm Done!▸</a>
	</span>

	<div class="lesson-container">
		<div class="col-md-4">
		  <div class="loader is-hidden"><img src="/img/loader.gif"></div>
			<span class="js-active-vid active-vid">
						<div class="vid-placeholder overlay">
							<h3>Select a video below</h3>
						</div>
		        <video class="video1 is-hidden" id="myvideo" src="/img/demo.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"' autoplay loop></video>
		        <canvas class="video2 is-hidden" id="canvas">
		          </canvas>
		        <button type="button" class="runbtn btn btn-danger pullRight is-hidden"></button>
			</span>



			<div class="js-switch-appear">
				<div class="video-container clearfix">

	        <p>Instagram Videos</p>
	        <span class="i-error"></span>
	        {{#if user}}
					<div class="i-vid-container">
						<video class="js-vid-click js-fetch-vid" id="js-fetch-vid0" name="0" src=""></video>
					</div>
					<div class="i-vid-container">
						<video class="js-vid-click js-fetch-vid" id="js-fetch-vid1" name="1" src=""></video>
					</div>
					<div class="i-vid-container">
						<video class="js-vid-click js-fetch-vid" id="js-fetch-vid2" name="2" src=""></video>
					</div>
	        {{else}}
	        <div class="insta-thumbnails">
	         	<a href="/auth/instagram" id="tooltip-stop-1">Import Videos from Instagram</a>
	        </div>
	          {{/if}}
				</div>

				<div class="video-container clearfix">
					<p>Sample Videos</p>
						<div class="i-vid-container">
							<video class="js-vid-click sample-vid" src="/img/ge.mp4"></video>
						</div>
						<div class="i-vid-container">
							<video class="js-vid-click sample-vid" src="/img/paper.mp4"></video>
						</div>
						<div class="i-vid-container">
							<video class="js-vid-click sample-vid" src="/img/wha_color.mp4"></video>
						</div>
					</div>
			</div>

	  	<div class="methodsBox js-appear is-hidden clearfix">
	  	  <p>Drag & drop the green buttons into the code editor to the right</p>
        <div class="clearfix">
        	<ul id="methodList">
         	 	{{#filters}}
	          <li name={{.}} class='btn btn-method draggable'>{{.}}</li><img name={{.}} class='x-drag xbtn' src='/img/xbtn_drag.png'/>
	          {{/filters}}
        	</ul>
     		</div>
        <div class="clearfix">
	        <button type="button" class="sm-btn show-inline js-switch-videos btn purple-btn-main">Switch Video</button>
	        <button type="button" class="sm-btn show-inline js-reset-code btn btn-primary">Reset Code</button>
	      </div>
      </div>

		</div>


		<div class="col-md-6">
			<div class="tabs-2">
				<form>
					<textarea id="codemirror" name="codemirror">{{code}}</textarea>
		  	</form>
		  </div>
  	</div>

  	<div class="col-md-2">
				<div id="tooltip-stop-3" class="learnMore">
          <h4>What's Going On?</h4>
          <ul>
            <li class="js-object">
              <button type="button" class="btn green-btn object bold" data-toggle="modal" data-target="#object222">What's an object?</button>
            </li>

            <li class="js-movie">
              <button type="button" id="movie" class="btn green-btn movie" data-toggle="modal" data-target="#movies222">movie</button>
            </li>

            <li class="js-effects is-inactive">
              <button type="button" id="effects" class="btn green-btn effects" data-toggle="modal" data-target="#effects222">effects</button>
            </li>

            <li class="js-function">
              <button type="button" id="function" class="btn pink-btn function bold" data-toggle="modal" data-target="#function222">What's a function?</button>
            </li>

            <li class="js-play">
              <button type="button" id="play" class="btn blue-btn play" data-toggle="modal" data-target="#play222">play</button>
            </li>

          </ul>
<!--           There is more than one right answer!

          <a href="https://docs.google.com/spreadsheet/ccc?key=0AvGwqFvIRpKudF94Mnl2dnJrWHJZaGp4NVhDVUs0aWc&usp=drive_web#gid=0">check explainations from others, and add your own</a> -->
          <!-- <div class="feedback"> -->
          <a href="http://www.vidcode.io/contact">Feedback? Yes, Please!</a>
          <!-- </div> -->
        </div>
      </div>
  	</div>


	</div>


</div>


<div class="set-container lesson-page clearfix is-hidden js-slide-final">

	<span class="previous-progress-btn">
		<a class="js-slide-left-first" href="#"><span class="arrow-smaller">◄</span> Previous</a>
	</span>
	<div class="progress-set">

	</div>


    <div class="lesson-prompt">
  </div>

	<div class="lesson-container centered-lesson">
		<div class="links-holder">
			<a class="link-one" id="mix-share" href="/share">Share Your Video</a>
			<a class="link-two js-slide-left-first" id="mix-again" href="/lesson/1">Try It Again</a>


		</div>
		<video id="vid-display" src=""></video>
	</div>

</div>

      <div class="modal fade" id="object222" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog2">
          <div class="modal-content">
            <div class="modal-header instruct-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><img class="xbtn" src="/img/xbtn.png"></button>
              <h4 class="modal-title">Objects...</h4>
            </div>
            <div class="modal-body instruct-body">
              <p>
                A object in javascript can be anything!
                <br>
                <br>
                In the case of our VidCode these words, such as “movie”, are containers to allow instructions to be applied to the “movie”.
                <br>
                <br>
                We will cover this again and again!  For now just get used to the word and where objects are placed within the code.
              </p>
              <button type="button" class="btn btn-method" data-dismiss="modal" aria-hidden="true">OK</button>
            </div>
          </div>
        </div>
      </div>

      <div class="modal fade" id="movies222" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog2">
          <div class="modal-content">
            <div class="modal-header instruct-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><img class="xbtn" src="/img/xbtn.png"></button>
              <h4 class="modal-title">Your movie!</h4>
            </div>
            <div class="modal-body instruct-body">
              <p>
                The word "movie" is an object that uses the canvas element in HTML5 to play your video.
                <br>
                <br>
                Remember, an object is just a word that contains data under the hood.
                <br>
                <br>
                With code, and computers, there are many things happening "behind the scenes" which we don't see.
              </p>
              <button type="button" class="btn btn-method" data-dismiss="modal" aria-hidden="true">OK</button>
            </div>
          </div>
        </div>
    	</div>

      <div class="modal fade" id="effects222" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog2">
          <div class="modal-content">
            <div class="modal-header instruct-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><img class="xbtn" src="/img/xbtn.png"></button>
              <h4 class="modal-title">So many effects!</h4>
            </div>
            <div class="modal-body instruct-body">
              <p>
                The word "effects" is an object that contains ALL the effects.
                <br>
                <br>
                You have three effects in your demo.
                <br>
                <br>
                These live in a hidden "list" within the "effects" object.
              </p>
              <button type="button" class="btn btn-method" data-dismiss="modal" aria-hidden="true">OK</button>
            </div>
          </div>
        </div>
      </div>

      <div class="modal fade" id="effects222" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog2">
          <div class="modal-content">
            <div class="modal-header instruct-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><img class="xbtn" src="/img/xbtn.png"></button>
              <h4 class="modal-title">So many effects!</h4>
            </div>
            <div class="modal-body instruct-body">
              <p>
                The word "effects" is an object that contains ALL the effects.
                <br>
                <br>
                You have three effects in your demo.
                <br>
                <br>
                These live in a hidden "list" within the "effects" object.
              </p>
              <button type="button" class="btn btn-method" data-dismiss="modal" aria-hidden="true">OK</button>
            </div>
          </div>
        </div>
      </div>

      <div class="modal fade" id="function222" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog2">
          <div class="modal-content">
            <div class="modal-header instruct-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><img class="xbtn" src="/img/xbtn.png"></button>
              <h4 class="modal-title">Functions are actions</h4>
            </div>
            <div class="modal-body instruct-body">
              <p>
                Functions are a HUGE piece of the computer programming pie.
                <br>
                <br>
                A function is a set of arguments or intructions to run on a block of code.
              </p>
              <button type="button" class="btn btn-method" data-dismiss="modal" aria-hidden="true">OK</button>
            </div>
          </div>
        </div>
      </div>

      <div class="modal fade" id="function222" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog2">
          <div class="modal-content">
            <div class="modal-header instruct-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><img class="xbtn" src="/img/xbtn.png"></button>
              <h4 class="modal-title">Functions are actions</h4>
            </div>
            <div class="modal-body instruct-body">
              <p>
                Functions are a HUGE piece of the computer programming pie.
                <br>
                <br>
                A function is a set of arguments or intructions to run on a block of code.
              </p>
              <button type="button" class="btn btn-method" data-dismiss="modal" aria-hidden="true">OK</button>
            </div>
          </div>
        </div>
      </div>

      <div class="modal fade" id="play222" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog2">
          <div class="modal-content">
            <div class="modal-header instruct-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><img class="xbtn" src="/img/xbtn.png"></button>
              <h4 class="modal-title">"play" is a function...</h4>
            </div>
            <div class="modal-body instruct-body">
              <p>
                ...but it's called a <em>method</em>.
                <br>
                <br>
                It tells the movie object to play.  It's called a method, not a function, because it is applied <em>directly</em> to a object via the dot "." thing.
              </p>
              <button type="button" class="btn btn-method" data-dismiss="modal" aria-hidden="true">OK</button>
            </div>
          </div>
        </div>
      </div>

      <div class="modal fade" id="interval222" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog2">
          <div class="modal-content">
            <div class="modal-header instruct-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><img class="xbtn" src="/img/xbtn.png"></button>
              <h4 class="modal-title">"interval" is also a method</h4>
            </div>
            <div class="modal-body instruct-body">
              <p>
                It tells the movie object how many times a second to be processed.
                <br>
                <br>
                The number "1000" is in milliseconds.  So it is processing your video 1,000 times a second!  That's a lot of work!
              </p>
              <button type="button" class="btn btn-method" data-dismiss="modal" aria-hidden="true">OK</button>
            </div>
          </div>
        </div>
      </div>



<ol id="joyRideTipContent">
  <li data-id="tooltip-stop-1">Choose a sample video or use your own from Instagram</li>
  <li data-id="tooltip-stop-3" data-options="tip_location:left">Click on the buttons to the right to "Learn More" about the code you're writing!</li>

  <li data-id="tooltip-stop-4" data-options="tip_location:left">Once you're finished with your video creation, click "I'm Done!"</li>

  <li data-button="Done!">You can create as many vidcodes as you'd like, using all your own Instagram content.</li>

</ol>

<script src="/js/main.js"></script>
<script src="/js/filters.js"></script>
<script src="/js/lessons.js"></script>

<script type="text/javascript">
	$(window).load(function() {
	  $("#joyRideTipContent").joyride({
	  	autoStart: true
	  });
	});

    mixpanel.track_links("#mix-share", "Share clicked", {
        "referrer": document.referrer
    });
    mixpanel.track_links("#mix-again", "Try It Again clicked" );
</script>
