<div class="s-container">

    <h2>WELCOME BACK {{user.username}} </h2>

    <h2>
        <a href="/workstation">CONTINUE LAST SESSION</a>
    </h2>

    <h2>
        <a href="/workstation">START NEW PROJECT</a>
    </h2>

    <div class="row profile">
        {{#if videos}}

        {{#each videos}}
        <div class="row">
            <div class="col-md-3">
                <a>
                    <video class="video" controls src="/video/?file={{this.file}}"/>
                </a>

                <div class="vid-row">
                    <a href='/workstation/' + {{this.file}}>
				<span class="info">
					<p class="title">{{this.title}}</p>
					<p class="descr">{{this.descr}}</p>
                    <p class="videocode">see code</p>
				</span>
                    </a>
                </div>
            </div>


            {{/each}}
        </div>
        {{else}}
        <h2 class="profileheader">You have no videos in your workstation! Start vidcoding, already!</h2>
        {{/if}}
    </div>


    <div class="row profile">
        {{#if units}}
        {{#each units}}

        <div class="col-md-3">
				<span class="info">
				<h2>	<p class="title">{{this.unitName}}</p></h2>
				</span>
        </div>

        {{#each this.lessons}}

        <div class="col-md-3">
				<span class="info">
					<p class="title">{{this.name}}</p>
				</span>
        </div>
        {{/each}}

        {{/each}}
        {{/if}}
    </div>
</div>
</div>
<script>
    mixpanel.track_forms("#profile", "profile page");
</script>