<div class="profile" >

<div class="profile center">

    <h2>Welcome back {{user.username}}</h2>

    <div class="profile-btn-container">
        <span class="big-action-btn">
            <a href="/workstation/lastSession">Continue last session</a>
        </span>

        <span class="big-action-btn">
            <a href="/workstation">Start new project</a>
        </span>
    </div>

</div>


<!-- Tabs start -->
    <div class="tabs">
        <ul class="tab-links">
            <li class="active"><a href="#tab1">In Progress Projects</a></li>
            <li><a href="#tab2">Published Projects</a></li>
        </ul>

        <div class="tab-content profile-container cleafix">
            <div id="tab1" class="tab active">

                <div class="row profile">
                    {{#if user.inProgressProjects}}

                    {{#each user.inProgressProjects}}


                   <div class="profile-vid-small">

                        <a href="/workstation/{{this.token}}">
                            <video class="video" src="{{this.file}}"/>
                        </a>

                        <div class="vid-row">
                            <a href="/workstation/{{this.token}}">
                            <span class="info">
                                <p class="title">{{this.title}}</p>
                                <p class="descr">{{this.descr}}</p>
                                <p class="videocode">see code</p>
                            </span>
                            </a>
                        </div>

                    </div>


                    {{/each}}
                    {{else}}
                    <h2 class="profileheader">You haven't started any projects, yet! Start vidcoding!</h2>
                    {{/if}}
                </div>


            </div>

            <div id="tab2" class="tab">


                <div class="row profile">
                    {{#if videos}}

                    {{#each videos}}


                   <div class="profile-vid-small">

                        <a href="/share/{{this.token}}">
                            <video class="video" src="/video/?file={{this.file}}"/>
                        </a>

                        <div class="vid-row">
                            <a href="/share/{{this.token}}">
                            <span class="info">
                                <p class="title">{{this.title}}</p>
                                <p class="descr">{{this.descr}}</p>
                                <p class="videocode">see code</p>
                            </span>
                            </a>
                        </div>

                    </div>


                    {{/each}}
                    {{else}}
                    <h2 class="profileheader">You have no videos published! Start vidcoding, already!</h2>
                    {{/if}}
                </div>


            </div>

        </div>
    </div>
<!-- Tabs end -->

<!-- Units start -->
    <div class="units profile-container clearfix">

        <div class="vid-row profile">
            {{#if units}}
            {{#each units}}

            <div class="col-md-3">

    			<h2 class="lesson-list-title title">{{this.unitName}}</h2>

                <ol class="lesson-list-num">
                {{#each this.lessons}}


                    <li class="title lesson-list-item">
                        {{this.name}}
                        {{#if this.viewed}}
                        <img src="/img/checked.png" id="checked">
                        {{/if}}

                    </li>


                {{/each}}
                </ol>
            </div>

            {{/each}}
            {{/if}}
        </div>
    </div>
<!-- Units end -->

</div>

<script src="/js/profile.js"></script>
<script>
    mixpanel.track_forms("#profile", "profile page");
</script>