<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=316757878488178&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="set-container lesson-page clearfix share-landing">
	<h2>Sorry, this feature isn't quite ready yet.</h2>
	<p>We're working as fast as we can to make sure that you can share your awesome videos with your friends. This feature will be ready soon.</p>
	
	<div class="fb-share-button" data-href="http://vidcode.herokuapp.com/lesson/1"></div>

	<p class="greentext">Thank you for vidcoding!</p>
	<a class="btn" id="mix-return-to-editor" href="/lesson/1">Return to Editor</a>
	<video src=""><video>
</div>

<script>

	mixpanel.track_links("#mix-return-to-editor", "Return to Editor clicked" );

</script>