<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-53e5544e45115c2b"></script>

<div class="set-container lesson-page clearfix share-landing">
	<h2 class="is-hidden">title</h2>
    <h2 class="is-hidden">desc</h2>
    <h2 class>Made by {{user.username}}</h2>
    <h3 id="file" class="is-hidden">{{file}}</h3>
	<video id="vid-display" controls src=""></video>
	<div class="addthis-container">
		<div class="addthis_sharing_toolbox"></div>
	</div>
	<p class="greentext">Thank you for vidcoding!</p>
	<a class="btn" id="mix-return-to-editor" href="/lesson/1">Return to Editor</a>
</div>

<script>
$( document ).ready(function() {
	mixpanel.track_links("#mix-return-to-editor", "Return to Editor clicked" );
	var filename = '/video/?file='+$('#file').text();
	var token =  $('#token').text();
	var videoDisplay = document.getElementById('vid-display');
	videoDisplay.src = filename;
});

</script>