<script type="text/javascript">

	function checkForm(form)
	{

		if(form.password.value != "") {
			if(form.password.value.length < 6) {
				alert("Error: Password must contain at least six characters!");
				form.password.focus();
				return false;
			}
			if(form.password.value == form.email.value) {
				alert("Error: Password must be different from Username!");
				form.password.focus();
				return false;
			}
			re = /[0-9]/;
			if(!re.test(form.password.value)) {
				alert("Error: password must contain at least one number (0-9)!");
				form.password.focus();
				return false;
			}
			re = /[a-z]/;
			if(!re.test(form.password.value)) {
				alert("Error: password must contain at least one lowercase letter (a-z)!");
				form.password.focus();
				return false;
			}
			re = /[A-Z]/;
			if(!re.test(form.password.value)) {
				alert("Error: password must contain at least one uppercase letter (A-Z)!");
				form.password.focus();
				return false;
			}
		} else {
			alert("Error: Please check that you've entered and confirmed your password!");
			form.password.focus();
			return false;
		}

		return true;
	}

</script>

<div class="s-container">
	<div class="s-background">
	</div>
	<div class="s-popup">
		<p>Sign into Vidcode</p>
		<a href="/auth/facebook"><button class="login-btn fb-login">Log in with facebook</button></a>
		<a href="/auth/instagram"><button class="login-btn insta-login">Log in with Instagram</button></a>
		<div class="s-separator">
			<hr class="line-l">
			<div class="text-special">or</div>
			<hr class="line-r">
		</div>
	  	<form method="post" id="email-signin" action="/signup" onsubmit="return checkForm(this)">
			<input type="email" name="email" class="sign-in-input" required placeholder="email address ">
			<input type="password" name="password" class="sign-in-input" required placeholder="password">
			<input type="submit" value="Login or Sign Up" class="login-btn n-a-login" />
		</form>
	</div>
</div>

<script>
	mixpanel.track_forms("#email-signin", "created account");
</script>