<div class="s-container">
	<div class="s-background">
	</div>
	<div class="s-popup">
		<p>Sign into Vidcode</p>
		<a href="/auth/facebook"><button class="login-btn fb-login">Log in with facebook</button></a>
		<a href="/auth/instagram"><button class="login-btn insta-login">Log in with Instagram</button></a>
		<div class="s-separator">
			<hr class="line-l">
			<div class="text-special">or</div>
			<hr class="line-r">
		</div>
		<input placeholder="Sign up with email">
		<button class="login-btn n-a-login">Sign Up</button>
	</div>
</div>