<div class="s-container">
	<div class="s-background">
	</div>
	<div class="s-popup">
		<p>Sign up to start coding your own video filters!</p>
		<a href="/auth/facebook"><button class="login-btn fb-login">Log in with facebook</button></a>
		<a href="/auth/instagram"><button class="login-btn insta-login">Log in with Instagram</button></a>
		<div class="s-separator">
			<hr class="line-l">
			<div class="text-special">or</div>
			<hr class="line-r">
		</div>
		{{#if message}}
		<div class="alert alert-danger">{{message}}</div>
		{{/if}}
	  	<form method="post" id="email-signin" action="/signin">
			<input type="email" name="email" class="sign-in-input" required placeholder="email address">
			<input type="password" name="password" class="sign-in-input-pw" required placeholder="password">
			<input type="submit" value="Log in with email" class="login-btn n-a-login" />
		</form>
		<a href="/signup"><button class="signup-btn s-u-login">Sign up with email</button></a>
		<a href="/forgot"><button class="forgot-btn f-u-login">Reset password</button>
	</div>
</div>

<script>
	mixpanel.track_forms("#email-signin", "logged in to account");
</script>