/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-family: 'Open Sans', sans-serif!important;
    font-size: 1em;
    line-height: 1.4;
    height: 100%;
    background-color: #fdf6e3;
}

body{
    font-family: 'Open Sans', sans-serif!important;
    height: 100%;
    background-color: #FCFAF5!important;
}

h3{
    padding-left: 15px;
    font-size: 2em!important;
    font-weight: 700!important;
    }

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}


.instagram-form input, textarea {
    padding: 9px;
    border: solid 1px #E5E5E5;
    outline: 0;
    font: normal 13px/100% Verdana, Tahoma, sans-serif;
    width: 200px;
    background: #FFFFFF url('bg_form.png') left top repeat-x;
    background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #EEEEEE), to(#FFFFFF));
    background: -moz-linear-gradient(top, #FFFFFF, #EEEEEE 1px, #FFFFFF 25px);
    box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
    -moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
    -webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
    }



input:hover, textarea:hover,
input:focus, textarea:focus {
    border-color: #C9C9C9;
    -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 8px;
    }

.stepone h4{font-weight: 600; color: #441B4B; text-align: center; padding-top:45px; padding-bottom: 25px;}
img.filterSelect { cursor: pointer; width: 90%; height: 90%; max-width: 500px; margin: 10px auto; display:block; }
img.filterSelect.active {opacity: .5;}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.row{background-color: #fdf6e3;}


/* ==========================================================================
   Index Intro Page
   ========================================================================== */

.vidcodeIntro{text-align: center;}
.vidcodeIntro h1{font-family: 'Copse', serif; color: #441B4B; padding: 25px 0 10px;}
.vidcodeIntro p{font-size: 1.4em; padding-bottom: 20px;}

.bg1{background: url(../img/transform.gif) no-repeat; background-size: 250px;}
.bg2{background: url(../img/learn.png) no-repeat; background-size: 244px;}
.bg3{background: url(../img/share.jpg) no-repeat; background-size: 240px;}

.circle{
    margin: 15px 20px;
    width: 230px;
    height: 230px;
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    display: inline-block!important;
}

.img_crop{
    overflow: hidden;
    margin-bottom: 30px;
}

.cropZero{height: 226px;}
.cropOne{height: 257px;}
.cropTwo{height: 280px;}

/* ==========================================================================
   VidCode custom styles
   ========================================================================== */
/*Header */
.nav{background-color: #e8f4ed;}
.nav li a:hover{background-color: #e8f4ed!important; }
.nav a{
    font-family: 'Open Sans', sans-serif!important;
    font-weight: 700;
    font-size: 1.7em;
    color: #319665;
}
.nav .small{margin-top: 6px;}
.nav a:hover{color: #1B4F33; }
.nav > li > a {padding: 3px 15px!important;}



.alliebutton{
    float: right;
    margin-left: 30px;
}

.allie4{
    float: left;
    padding-left: 300px;
    width: 148px!important;
}

.allie4 a{color: #fff; text-decoration: none;}
.allie4 a:hover{color: #fff; text-decoration: none;}


.centerObject{
    margin: 0 auto;
    width: 470px;
}

.post-sign-in {
  display: none;
}

.during-upload {
  display: none;
}

.post-upload {
  display: none;
}

.progressDiv {
   width: 300px;
}

/* First and Second Video */

.margin-negs{margin-left: -44px;}

.video1{
    position: absolute;
    z-index: 5;
    margin-left: 245px;
    width: 320px;
    height: 240px;
}

.video2 {
    z-index: 5;
    margin-top: 1px;
    width: 103%;
}

.steps{
    background-color:rgba(68, 27, 75, .9);
    margin: -20px 0 -10px;
    padding: 10px;
    color: #fff;
}

.steps h2{font-size:1.3em;
    font-weight: 700;}



.pull_left{margin-left: -31px;}


.heading{background-color: #441B4B; padding: 5px 0; text-align: center; color: #fdf6e3; font-weight: 700; z-index: 500000; position: relative; font-size: .9em;}
.heading_bg{background-color: #441B4B; height: 28px; position: relative;z-index: 5000001;}
/* Popup upload video */
.pops{
    width: 400px;
}

.uploadfile{
    float: right;
    width: 120px!important;
    margin-right: 25px!important;
    }

.popup, .instagram-form{
    margin: 200px 0 0 300px;
    position: fixed;
    height: 50px;
    width: 600px;
    padding: 10px 50px 90px 50px;
    background-color: #fff;
    z-index: 10000000000;

    -webkit-box-shadow: 9px 0px 23px 0px rgba(50, 50, 50, 0.3);
    -moz-box-shadow:    9px 0px 23px 0px rgba(50, 50, 50, 0.3);
    box-shadow:         9px 0px 23px 0px rgba(50, 50, 50, 0.3);

    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    }
.instagram-form input{margin-left:15px;}
.instagram-form{padding-top: 32px;
padding-bottom: 101px;}


.right{float: right;}
.left{float: left;}


/* Getting started (first) */

.checkbtn{
    float: left;
    margin-left: 90px;
}

.getting-started{
    position: absolute!important;
    z-index: 499;
    width: 400px!important;
    margin-left: auto!important;
}

.savebtn{}

.btn-close-steps{margin-bottom: 7px!important; width: 100px!important;}

.btn-close-steps2{margin-right: 350px!important;}

/* second screen that animates under edit menu */

.displayfirst{
    position: absolute!important;
    width: 420px!important;
    z-index: 500;
    margin-left: -500px;
}

.large-button{
  /* fallback */
  background-color: #44A682;
  background-repeat: repeat-x;

  /* Safari 4-5, Chrome 1-9 */
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#44A682), to(#3E9474));

  /* Safari 5.1, Chrome 10+ */
  background: -webkit-linear-gradient(top, #44A682, #3E9474);

  /* Firefox 3.6+ */
  background: -moz-linear-gradient(top, #44A682, #3E9474);

  /* IE 10 */
  background: -ms-linear-gradient(top, #44A682, #3E9474);

  /* Opera 11.10+ */
  background: -o-linear-gradient(top, #44A682, #3E9474);

    -webkit-box-shadow: 9px 0px 23px 0px rgba(50, 50, 50, 0.3);
    -moz-box-shadow:    9px 0px 23px 0px rgba(50, 50, 50, 0.3);
    box-shadow:         9px 0px 23px 0px rgba(50, 50, 50, 0.3);

    width: 400px;
    margin-left: -15px;
    height: 120px;
    border: none;

    color: #fff;
    font-size: 1.4em;
    font-weight: 600;

}



.large-button:hover{
  /* Safari 4-5, Chrome 1-9 */
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#44A682), to(#44A682));

  /* Safari 5.1, Chrome 10+ */
  background: -webkit-linear-gradient(top, #44A682, #44A682);

  /* Firefox 3.6+ */
  background: -moz-linear-gradient(top, #44A682, #44A682);

  /* IE 10 */
  background: -ms-linear-gradient(top, #44A682, #44A682);

  /* Opera 11.10+ */
  background: -o-linear-gradient(top, #44A682, #44A682);

}

.btn-group{
    margin-top: 20px;
}

.btn-purple{
    background-color: #441B4B!important; border: 0px!important;}
.btn-purple:hover{
    background-color: #7B4085!important;
}

.green-btn{background-color: #319665!important;}
.green-btn:hover{background-color: #1E754B!important;}

.pink-btn{background-color: #dd39a9!important;}
.pink-btn:hover{background-color: #AD1D80!important;}

.blue-btn{background-color: #3262EA!important;}
.blue-btn:hover{background-color: #2044A8!important;}

.purple-btn{background-color: #AE40C1!important;}
.purple-btn:hover{background-color: #7D248C!important;}

.cyan-btn{background-color: #3BE2D6!important;}
.cyan-btn:hover{background-color: #24ADA4!important;}


.runbtn{
    position: absolute;
    margin: -50px 30% 0 30%!important;
    opacity: 0;
}

#canvas:hover + .runbtn {
    opacity: .8;
}

.runbtn:hover{
    opacity: 1;
}


/* main screen and edit menu */

.xbtn{
    cursor: pointer;
}

.x-drag{position: relative;
margin-top: -57px;
margin-left: 148px;
z-index: 100000;}

.displaysecond{
    position: absolute!important;
    width: 480px!important;
    z-index: 501;
    background-color: #fff;
}

.hidden2{
    margin-top: 3px;
    height: 5px;
    opacity: 0;
}

.tabs-1{
    border: #BDBFBF solid 1px;
    height: 600px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
}

.pullLeft{
    margin-left: -40px;
    }

ul{
    list-style-type: none;
}

.activebtn{
}


.small{
    font-size: 1.1em!important;
    }

.hidden{
    display: none;
}

#logo{
    color: #44A682;
}

.methodsBox{
    background-color: rgba(253, 246, 227, .3);
    width: 104%;
    padding-bottom: 12px;
}


#editor {
    margin: 0;
    position: absolute;
    top: 340px;
    bottom: 0;
    left: 0;
    right: 0;
    height: 600px;
    z-index: 3;
}

.buttons{
    padding: 150px;
    display: block;

    z-index: 100;
    position: relative;
}

.buttons.is-aware{
    padding: 10px 9% 0;
    margin:-9px auto -4px;
    }



.btn-method{
    background-color: #319665;
    color: #fff;
    margin-right: 15px!important;
}

.btn-method:hover{
    color: #fff!important;
    background-color: #2A7A5D;
}

.btn-method.is-active{opacity: .5;}

.xbtn{display: none;}

.leftspace{
    margin-left: 25px!important;
    }

.btn{
    display: block;
    margin: 10px auto;
    width: 180px;
}

.overlay {
    width: 105%;
    padding-right: 3px;
    margin-left: -15px;
    height: 600px;
    background: #81DBBA; /* Old browsers */
    background: -moz-linear-gradient(110deg, #81DBBA 15%, #7D43A3 50%, #81DBBA 80%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(15%,#81DBBA), color-stop(50%,#7D43A3), color-stop(80%,#81DBBA)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(110deg, #81DBBA 15%, #7D43A3 50%, #81DBBA 80%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(110deg, #81DBBA 15%, #7D43A3 50%, #81DBBA 80%); /* Opera 11.10+ */
    background: -ms-linear-gradient(110deg, #81DBBA 15%, #7D43A3 50%, #81DBBA 80%); /* IE10+ */
    background: linear-gradient(155deg, #81DBBA 15%, #7D43A3 50%, #81DBBA 80%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#81DBBA', endColorstr='#7D43A3',GradientType=0 ); /* IE6-9 */
    background-size: 100% 500%;
    background-position: 0% 0%;
    -webkit-animation-name: colorful;
    -webkit-animation-duration: 150s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
}

#effects.active{
    height: 0;
}

#controls {
            display: inline-block;
            vertical-align: top;
        }

#controls input {
            width: 400px;
        }

canvas{
            vertical-align: bottom;     }

@-webkit-keyframes colorful {
    from {
        background-position: 0% 0%;
    }

    to {
        background-position: 0% 500%;
    }
}

.blackbg{
    background: #000!important;
    opacity: 1;
    }

.clearHover{
    position: absolute;
    height: 800px;
    width: 100%;
    background-color: rgba(255, 255, 255, .4);
    top: 0;
    left: 0;
    z-index: 1;
}

.instruct-header{
    font-size: 1.4em;
    color: #44A682;
}

.instruct-body{
    font-size: 1.1em
}

.accordion-group {
    padding: 10px;
}

.accordion-inner {
    padding-left: 20px;
}

.draggable {
    position: relative;
    z-index: 1000;
    text-align: left!important;
    background-color: rgba(49, 150, 101, .9)!important;
    font-weight: 700!important;
    margin-left: 4px;
    float: left;
}

.draggable:hover{background-color: rgba(49, 150, 101, 1)!important; cursor: -webkit-grab; cursor: -moz-grab;}
.draggable:active{cursor: -webkit-grabbing; cursor: -moz-grabbing;}


.draggable.is-active{
    background-image: url(../img/xbtn_drag.png)!important;
    background-repeat: no-repeat;
    background-position: right;}

/* The effects/ learn more area */
.learnMore{height: 600px; overflow-y: scroll; width: 100%; padding-left: 15px;}
.learnMore .btn{font-size: .9em; width: 92%; color: #fff; text-align: center; padding: 2px;}
.learnMore .btn:hover{color: #fff!important;}
.learnMore .bold{font-weight: 700;}

.methods .learnMore{background-color: #eee8d5;}
.learnMore ul img{margin-right: 5px;}

.learnMore .green{color: #319665;}
.learnMore .blue{color: #3262EA;}
.learnMore .purple{color: #AE40C1;}
.learnMore .lightblue{color: #3BE2D6;}
.learnMore .pink{color: #dd39a9;}

.heading .switch{cursor: pointer;}
.heading .active{color: #D6BAE8;}

.learnMore h4{font-weight: 700; color: #441B4B;}
.learnMore ul{padding: 0;}
.learnMore .firstly, .learnMore .secondary{cursor: pointer;font-weight: 700; padding-top: 8px;}
.learnMore .firstly{padding-left: 6px; font-size: 1.1em;}
.learnMore .secondary{padding-left: 12px;}

.btndown{display: none;}

.learnMore .explanation{display: none; padding-left: 3px; font-size: .9em;}


/* ----Code editor ----- */

.cm-number{
}

.cm-number:active{
    /*cursor: ew-resize;*/
}

.cm-number:hover{
    /*cursor: ew-resize;*/
}

#tabs{margin-right: -28px; margin-left: 10px;}
/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */


.is-hidden{
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
